In [3]:
nums = 5
scores = []
sum = 0
for i in range(nums):
    i += 1
    print("請輸入第{0:d}位學生的資料:".format(i)) 
    scores.append(int(input()))

print(scores)

for score in scores:
    sum += score

ave = sum / nums
print("全班總成績為:{:d}分,平均為{:6.2f}分".format(sum,ave))

請輸入第1位學生的資料:
78
請輸入第2位學生的資料:
90
請輸入第3位學生的資料:
89
請輸入第4位學生的資料:
90
請輸入第5位學生的資料:
89
[78, 90, 89, 90, 89]
全班總成績為:436分,平均為 87.20分

In [5]:
nums = 5
scores = []
sum = 0

for i in range(nums):
    i += 1
    print("請輸入第{0:d}位學生的資料".format(i))
    scores.append(int(input()))
    
print(scores)

for score in scores:
    sum += score

ave = sum / nums #浮點數的除法!
print("全班總成績為:{:d}分,平均為{:6.2f}分".format(sum, ave)) #{0:d}可簡化為{:d}

請輸入第1位學生的資料
67
請輸入第2位學生的資料
87
請輸入第3位學生的資料
78
請輸入第4位學生的資料
98
請輸入第5位學生的資料
87
[67, 87, 78, 98, 87]
全班總成績為:417分,平均為 83.40分

In [6]:
#extend(), +=
citys = ['台北', '台中', '高雄', '台南']
others = ['花蓮', '台東']
citys.extend(others)
citys

['台北', '台中', '高雄', '台南', '花蓮', '台東']

In [7]:
#extend(), +=
citys = ['台北', '台中', '高雄', '台南']
others = ['花蓮', '台東']
citys += others
citys

['台北', '台中', '高雄', '台南', '花蓮', '台東']

In [10]:
students = []
for i in range(50):
    scores = ["stu{:d}".format(i+1)]
    for _ in range(5):
        scores.append(100)
    students.append(scores)
students

[['stu1', 100, 100, 100, 100, 100],
 ['stu2', 100, 100, 100, 100, 100],
 ['stu3', 100, 100, 100, 100, 100],
 ['stu4', 100, 100, 100, 100, 100],
 ['stu5', 100, 100, 100, 100, 100],
 ['stu6', 100, 100, 100, 100, 100],
 ['stu7', 100, 100, 100, 100, 100],
 ['stu8', 100, 100, 100, 100, 100],
 ['stu9', 100, 100, 100, 100, 100],
 ['stu10', 100, 100, 100, 100, 100],
 ['stu11', 100, 100, 100, 100, 100],
 ['stu12', 100, 100, 100, 100, 100],
 ['stu13', 100, 100, 100, 100, 100],
 ['stu14', 100, 100, 100, 100, 100],
 ['stu15', 100, 100, 100, 100, 100],
 ['stu16', 100, 100, 100, 100, 100],
 ['stu17', 100, 100, 100, 100, 100],
 ['stu18', 100, 100, 100, 100, 100],
 ['stu19', 100, 100, 100, 100, 100],
 ['stu20', 100, 100, 100, 100, 100],
 ['stu21', 100, 100, 100, 100, 100],
 ['stu22', 100, 100, 100, 100, 100],
 ['stu23', 100, 100, 100, 100, 100],
 ['stu24', 100, 100, 100, 100, 100],
 ['stu25', 100, 100, 100, 100, 100],
 ['stu26', 100, 100, 100, 100, 100],
 ['stu27', 100, 100, 100, 100, 100],
 ['stu28', 100, 100, 100, 100, 100],
 ['stu29', 100, 100, 100, 100, 100],
 ['stu30', 100, 100, 100, 100, 100],
 ['stu31', 100, 100, 100, 100, 100],
 ['stu32', 100, 100, 100, 100, 100],
 ['stu33', 100, 100, 100, 100, 100],
 ['stu34', 100, 100, 100, 100, 100],
 ['stu35', 100, 100, 100, 100, 100],
 ['stu36', 100, 100, 100, 100, 100],
 ['stu37', 100, 100, 100, 100, 100],
 ['stu38', 100, 100, 100, 100, 100],
 ['stu39', 100, 100, 100, 100, 100],
 ['stu40', 100, 100, 100, 100, 100],
 ['stu41', 100, 100, 100, 100, 100],
 ['stu42', 100, 100, 100, 100, 100],
 ['stu43', 100, 100, 100, 100, 100],
 ['stu44', 100, 100, 100, 100, 100],
 ['stu45', 100, 100, 100, 100, 100],
 ['stu46', 100, 100, 100, 100, 100],
 ['stu47', 100, 100, 100, 100, 100],
 ['stu48', 100, 100, 100, 100, 100],
 ['stu49', 100, 100, 100, 100, 100],
 ['stu50', 100, 100, 100, 100, 100]]