In [3]:
nums = 5
scores = []
sum = 0
for i in range(nums):
    i += 1
    print("請輸入第{0:d}位學生的資料:".format(i)) 
    scores.append(int(input()))

print(scores)

for score in scores:
    sum += score

ave = sum / nums
print("全班總成績為:{:d}分,平均為{:6.2f}分".format(sum,ave))

請輸入第1位學生的資料:
78
請輸入第2位學生的資料:
90
請輸入第3位學生的資料:
89
請輸入第4位學生的資料:
90
請輸入第5位學生的資料:
89
[78, 90, 89, 90, 89]
全班總成績為:436分,平均為 87.20分

In [5]:
nums = 5
scores = []
sum = 0

for i in range(nums):
    i += 1
    print("請輸入第{0:d}位學生的資料".format(i))
    scores.append(int(input()))
    
print(scores)

for score in scores:
    sum += score

ave = sum / nums #浮點數的除法!
print("全班總成績為:{:d}分,平均為{:6.2f}分".format(sum, ave)) #{0:d}可簡化為{:d}

請輸入第1位學生的資料
67
請輸入第2位學生的資料
87
請輸入第3位學生的資料
78
請輸入第4位學生的資料
98
請輸入第5位學生的資料
87
[67, 87, 78, 98, 87]
全班總成績為:417分,平均為 83.40分

In [6]:
#extend(), +=
citys = ['台北', '台中', '高雄', '台南']
others = ['花蓮', '台東']
citys.extend(others)
citys

['台北', '台中', '高雄', '台南', '花蓮', '台東']

In [7]:
#extend(), +=
citys = ['台北', '台中', '高雄', '台南']
others = ['花蓮', '台東']
citys += others
citys

['台北', '台中', '高雄', '台南', '花蓮', '台東']

In [17]:
import random

students = []
for i in range(50):
    scores = ["stu{:d}".format(i+1)]
    for _ in range(5):
        scores.append(int(random.random()*100))
    students.append(scores)
students

[['stu1', 23, 13, 32, 83, 12],
 ['stu2', 49, 61, 30, 83, 91],
 ['stu3', 77, 8, 97, 83, 47],
 ['stu4', 47, 55, 1, 26, 45],
 ['stu5', 46, 8, 53, 84, 9],
 ['stu6', 76, 66, 3, 94, 20],
 ['stu7', 22, 77, 9, 5, 80],
 ['stu8', 81, 58, 62, 6, 67],
 ['stu9', 17, 37, 79, 84, 67],
 ['stu10', 90, 38, 62, 22, 22],
 ['stu11', 24, 35, 69, 41, 91],
 ['stu12', 64, 94, 78, 96, 85],
 ['stu13', 6, 15, 10, 33, 92],
 ['stu14', 58, 16, 14, 75, 12],
 ['stu15', 88, 17, 31, 33, 27],
 ['stu16', 21, 72, 22, 50, 19],
 ['stu17', 68, 11, 87, 7, 99],
 ['stu18', 86, 54, 78, 84, 13],
 ['stu19', 39, 93, 68, 78, 15],
 ['stu20', 20, 42, 69, 5, 54],
 ['stu21', 74, 30, 35, 1, 36],
 ['stu22', 55, 54, 73, 97, 24],
 ['stu23', 77, 97, 33, 47, 99],
 ['stu24', 99, 68, 76, 12, 37],
 ['stu25', 26, 31, 13, 60, 23],
 ['stu26', 85, 96, 97, 78, 68],
 ['stu27', 20, 35, 24, 56, 68],
 ['stu28', 56, 3, 73, 24, 14],
 ['stu29', 49, 88, 79, 61, 11],
 ['stu30', 74, 11, 48, 6, 59],
 ['stu31', 86, 59, 88, 45, 2],
 ['stu32', 32, 57, 32, 27, 23],
 ['stu33', 60, 32, 60, 23, 17],
 ['stu34', 21, 37, 44, 34, 4],
 ['stu35', 54, 13, 23, 75, 73],
 ['stu36', 11, 84, 35, 96, 21],
 ['stu37', 10, 37, 48, 74, 94],
 ['stu38', 35, 23, 28, 84, 46],
 ['stu39', 69, 80, 42, 98, 17],
 ['stu40', 59, 13, 83, 57, 31],
 ['stu41', 84, 84, 49, 94, 23],
 ['stu42', 10, 13, 93, 82, 17],
 ['stu43', 86, 40, 51, 87, 13],
 ['stu44', 9, 94, 30, 93, 26],
 ['stu45', 59, 16, 36, 98, 44],
 ['stu46', 74, 54, 55, 7, 2],
 ['stu47', 41, 29, 58, 16, 83],
 ['stu48', 49, 15, 71, 76, 49],
 ['stu49', 93, 80, 6, 39, 53],
 ['stu50', 8, 26, 19, 59, 93]]