In [1]:
print("Hello! pythone")

Hello! pythone

In [13]:
#建立變數
openedx = 100
print(openedx)
type(openedx)

100

int

In [14]:
open1 = 100.0
print(open1)
type(open1)

100.0

float

In [15]:
open2 = "robert"
print(open2)
type(open2)

robert

str

In [17]:
open3 = True
print(open3)
type(open3)

True

bool

In [18]:
#一次建立2個變數
taiwan, years = '台灣', 2020
print(taiwan)
print(years)

台灣
2020

In [19]:
del taiwan
print(taiwan)

NameError: name 'taiwan' is not defined

In [24]:
print(3)
print(3, 3.24, "Hello", False, years)

3
3 3.24 Hello False 2020

In [25]:
a = 100
print("a=", a)
b = 50
print("b=", b)
print("a+b=", a + b)

a= 100
b= 50
a+b= 150

In [31]:
var1 = 20
print(var1)
print(type(var1))
var2 = 123.45
var2

20
<class 'int'>

123.45

In [33]:
name = "robert"
chinese = 87
english = 76
math = 93

print(name, ":中文=", chinese, ",英文=", english, ",數學=", math)

robert :中文= 87 ,英文= 76 ,數學= 93