In [4]:
import pandas as pd
ser = pd.Series([4, 7, -5, 3],index=["d", 'b', 'a', "c"])
print(type(ser))
print(ser.dtype)
print(ser.count())

<class 'pandas.core.series.Series'>
int64
4

In [5]:
#透過索引取出值,更改值
ser.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [6]:
ser['a']

-5

In [7]:
ser['d'] = 10
ser

d    10
b     7
a    -5
c     3
dtype: int64

In [8]:
ser[['d','b','a']]

d    10
b     7
a    -5
dtype: int64

In [9]:
obj2 = pd.Series([80, 90, 75, 65], index=['chiness','engilis', 'math', 'history' ])
obj2

chiness    80
engilis    90
math       75
history    65
dtype: int64

In [10]:
#和純值運算
obj2*1.1

chiness    88.0
engilis    99.0
math       82.5
history    71.5
dtype: float64

In [11]:

import numpy as np
#使用numpy內的統計
np.ptp(obj2)

25

In [12]:
np.median(obj2)

77.5

In [13]:
np.mean(obj2)

77.5

In [15]:
#篩選
obj2[obj2 >= 80]

chiness    80
engilis    90
dtype: int64

In [17]:
#in運算子
'chiness' in obj2

True

In [19]:
sdata = {'台北':3500, '桃園':71000,'台中':16000, '高雄':5000}
obj3 = pd.Series(sdata,index=['花蓮','高雄','台中','台北'])
obj3

花蓮        NaN
高雄     5000.0
台中    16000.0
台北     3500.0
dtype: float64

In [20]:
obj3.isnull()

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [21]:
obj3.notnull()

花蓮    False
高雄     True
台中     True
台北     True
dtype: bool

In [22]:
#不要空的
obj3[obj3.notnull()]

高雄     5000.0
台中    16000.0
台北     3500.0
dtype: float64