In [4]:
import pandas as pd
ser = pd.Series([4, 7, -5, 3],index=["d", 'b', 'a', "c"])
print(type(ser))
print(ser.dtype)
print(ser.count())

<class 'pandas.core.series.Series'>
int64
4

In [5]:
#透過索引取出值,更改值
ser.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [6]:
ser['a']

-5

In [7]:
ser['d'] = 10
ser

d    10
b     7
a    -5
c     3
dtype: int64

In [8]:
ser[['d','b','a']]

d    10
b     7
a    -5
dtype: int64

In [9]:
obj2 = pd.Series([80, 90, 75, 65], index=['chiness','engilis', 'math', 'history' ])
obj2

chiness    80
engilis    90
math       75
history    65
dtype: int64

In [10]:
#和純值運算
obj2*1.1

chiness    88.0
engilis    99.0
math       82.5
history    71.5
dtype: float64

In [11]:

import numpy as np
#使用numpy內的統計
np.ptp(obj2)

25

In [12]:
np.median(obj2)

77.5

In [13]:
np.mean(obj2)

77.5

In [15]:
#篩選
obj2[obj2 >= 80]

chiness    80
engilis    90
dtype: int64

In [17]:
#in運算子
'chiness' in obj2

True

In [19]:
sdata = {'台北':3500, '桃園':71000,'台中':16000, '高雄':5000}
obj3 = pd.Series(sdata,index=['花蓮','高雄','台中','台北'])
obj3

花蓮        NaN
高雄     5000.0
台中    16000.0
台北     3500.0
dtype: float64

In [20]:
obj3.isnull()

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [21]:
obj3.notnull()

花蓮    False
高雄     True
台中     True
台北     True
dtype: bool

In [22]:
#不要空的
obj3[obj3.notnull()]

高雄     5000.0
台中    16000.0
台北     3500.0
dtype: float64

In [23]:
obj3

花蓮        NaN
高雄     5000.0
台中    16000.0
台北     3500.0
dtype: float64

In [25]:
obj3.index.name="縣市"

In [26]:
obj3

縣市
花蓮        NaN
高雄     5000.0
台中    16000.0
台北     3500.0
dtype: float64

In [27]:
#DataFrame
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame=pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [28]:
#head(),檢視前面幾筆
frame.head()

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5

In [30]:
frame.tail()

   縣市    年份   人口
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [35]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame1=pd.DataFrame(data,columns=['年份','縣市','人口'],
                   index=['one','two','three','four','five','six'])
frame1.index.name="索引"
frame1.columns.name="欄位"
frame1

欄位       年份  縣市   人口
索引
one    2000  台北  2.2
two    2001  台北  2.5
three  2002  台北  2.7
four   2001  新竹  1.1
five   2002  新竹  1.5
six    2003  新竹  2.0

In [36]:
frame1['縣市']

索引
one      台北
two      台北
three    台北
four     新竹
five     新竹
six      新竹
Name: 縣市, dtype: object

In [37]:
frame1[['縣市','人口']]

欄位     縣市   人口
索引
one    台北  2.2
two    台北  2.5
three  台北  2.7
four   新竹  1.1
five   新竹  1.5
six    新竹  2.0

In [39]:
frame1

欄位       年份  縣市   人口
索引
one    2000  台北  2.2
two    2001  台北  2.5
three  2002  台北  2.7
four   2001  新竹  1.1
five   2002  新竹  1.5
six    2003  新竹  2.0

In [44]:
frame1.iloc[0:5]

欄位       年份  縣市   人口
索引
one    2000  台北  2.2
two    2001  台北  2.5
three  2002  台北  2.7
four   2001  新竹  1.1
five   2002  新竹  1.5

In [45]:
frame1.loc['one']

欄位
年份    2000
縣市      台北
人口     2.2
Name: one, dtype: object

In [46]:
frame1.loc[['one','three','five']]

欄位       年份  縣市   人口
索引
one    2000  台北  2.2
three  2002  台北  2.7
five   2002  新竹  1.5

In [49]:
frame1.loc['one','人口'] = 22.2
frame1

欄位       年份  縣市    人口
索引
one    2000  台北  22.2
two    2001  台北   2.5
three  2002  台北   2.7
four   2001  新竹   1.1
five   2002  新竹   1.5
six    2003  新竹   2.0