In [1]:
#建立一個空的list
empty_list = []
empty_list

[]

In [2]:
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
weekdays

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [3]:
print(weekdays[0])
print(weekdays[6])

星期一
星期日

In [5]:
for day in weekdays:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [7]:
weekdays_tuple = ('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')
print(weekdays_tuple[0])
print(weekdays_tuple[6])

星期一
星期日

In [8]:
for day in weekdays_tuple:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [9]:
weekdays_tuple

('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')

In [11]:
#list()
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list1 = ['H','e','l','l','o', 'W','o','r','l','d']
list1[-10]

'H'

In [16]:
#slice->取出局部的
#取出前面5個
print(list1[0:5])
print(list1[:5])

['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']

In [19]:
#取出後面5個
print(list1[-5:])

['W', 'o', 'r', 'l', 'd']

In [20]:
#更新資料
nums = [1, 2, 3]
nums[0] *= 10
nums[1] *= 10
nums[2] *= 10
print(nums)

[10, 20, 30]

In [23]:
#len()
#傳出元素數量
nums = [1, 2, 3]
for i in range(len(nums)):
    nums[i] *= 10
print(nums)

[10, 20, 30]

In [24]:
nums_tuple = (1, 2, 3)
nums_tuple[0] *= 10

TypeError: 'tuple' object does not support item assignment

In [29]:
#新增元素
data = list(range(10,1000,10))
receiveData = []

for item in data:
    if item % 25 == 0:
        receiveData.append(item)
receiveData.__class__

list

In [32]:
#2維list
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'HTC'] 
home = [3, '冰箱', 2, '洗衣機']
all3c = [nb, mobile, home]

all3c[1][2]
all3c[2][3]

'洗衣機'

In [35]:
for items in all3c:
    for item in items:
        print(item)
    print("=====")

筆記電腦
商用筆電
=====
APPLE
ASUS
HTC
=====
3
冰箱
2
洗衣機
=====

In [37]:
#50個學生,5個分數
import random

students = []
for _ in range(50):
    scores =[]
    for _ in range(5):
        scores.append(random.randint(60,100))
    students.append(scores)

students

[[95, 92, 91, 78, 94],
 [97, 80, 67, 63, 66],
 [74, 73, 74, 81, 85],
 [79, 85, 88, 78, 86],
 [98, 73, 90, 71, 97],
 [99, 61, 61, 92, 72],
 [79, 78, 60, 60, 77],
 [98, 77, 88, 61, 92],
 [88, 86, 60, 81, 66],
 [63, 70, 93, 99, 85],
 [81, 93, 84, 74, 69],
 [68, 90, 79, 91, 67],
 [60, 66, 98, 77, 68],
 [74, 70, 60, 90, 75],
 [92, 99, 76, 82, 89],
 [82, 67, 99, 79, 71],
 [98, 99, 66, 60, 67],
 [72, 85, 75, 80, 86],
 [78, 93, 83, 91, 92],
 [68, 65, 65, 96, 81],
 [100, 65, 67, 64, 65],
 [64, 97, 64, 97, 83],
 [91, 60, 71, 63, 67],
 [69, 73, 73, 70, 60],
 [81, 60, 63, 92, 67],
 [64, 72, 76, 95, 67],
 [87, 67, 73, 87, 60],
 [62, 86, 67, 95, 91],
 [69, 60, 84, 98, 91],
 [78, 64, 77, 89, 80],
 [62, 86, 62, 61, 85],
 [65, 96, 67, 93, 96],
 [99, 87, 60, 80, 96],
 [90, 66, 86, 64, 85],
 [94, 85, 92, 80, 87],
 [92, 72, 71, 98, 71],
 [80, 68, 90, 65, 85],
 [91, 85, 63, 60, 67],
 [74, 63, 60, 60, 66],
 [84, 78, 79, 95, 61],
 [80, 62, 87, 61, 79],
 [99, 76, 78, 80, 92],
 [84, 64, 64, 70, 92],
 [94, 66, 60, 77, 77],
 [60, 92, 77, 68, 100],
 [79, 70, 79, 89, 81],
 [65, 77, 76, 72, 62],
 [81, 69, 71, 97, 78],
 [86, 83, 66, 60, 94],
 [68, 75, 65, 93, 98]]

In [40]:
studentId = 0
for stu in students:
    sum = 0
    studentId += 1
    print(f"學生{studentId}")
    for score in stu:
        sum += score
    print(f"總分為:{sum},平均:{sum/5}")
    print("=========")

學生1
總分為:450,平均:90.0
=========
學生2
總分為:373,平均:74.6
=========
學生3
總分為:387,平均:77.4
=========
學生4
總分為:416,平均:83.2
=========
學生5
總分為:429,平均:85.8
=========
學生6
總分為:385,平均:77.0
=========
學生7
總分為:354,平均:70.8
=========
學生8
總分為:416,平均:83.2
=========
學生9
總分為:381,平均:76.2
=========
學生10
總分為:410,平均:82.0
=========
學生11
總分為:401,平均:80.2
=========
學生12
總分為:395,平均:79.0
=========
學生13
總分為:369,平均:73.8
=========
學生14
總分為:369,平均:73.8
=========
學生15
總分為:438,平均:87.6
=========
學生16
總分為:398,平均:79.6
=========
學生17
總分為:390,平均:78.0
=========
學生18
總分為:398,平均:79.6
=========
學生19
總分為:437,平均:87.4
=========
學生20
總分為:375,平均:75.0
=========
學生21
總分為:361,平均:72.2
=========
學生22
總分為:405,平均:81.0
=========
學生23
總分為:352,平均:70.4
=========
學生24
總分為:345,平均:69.0
=========
學生25
總分為:363,平均:72.6
=========
學生26
總分為:374,平均:74.8
=========
學生27
總分為:374,平均:74.8
=========
學生28
總分為:401,平均:80.2
=========
學生29
總分為:402,平均:80.4
=========
學生30
總分為:388,平均:77.6
=========
學生31
總分為:356,平均:71.2
=========
學生32
總分為:417,平均:83.4
=========
學生33
總分為:422,平均:84.4
=========
學生34
總分為:391,平均:78.2
=========
學生35
總分為:438,平均:87.6
=========
學生36
總分為:404,平均:80.8
=========
學生37
總分為:388,平均:77.6
=========
學生38
總分為:366,平均:73.2
=========
學生39
總分為:323,平均:64.6
=========
學生40
總分為:397,平均:79.4
=========
學生41
總分為:369,平均:73.8
=========
學生42
總分為:425,平均:85.0
=========
學生43
總分為:374,平均:74.8
=========
學生44
總分為:374,平均:74.8
=========
學生45
總分為:397,平均:79.4
=========
學生46
總分為:398,平均:79.6
=========
學生47
總分為:352,平均:70.4
=========
學生48
總分為:396,平均:79.2
=========
學生49
總分為:389,平均:77.8
=========
學生50
總分為:399,平均:79.8
=========