In [1]:
a = 100
type(a)

int

In [2]:
a = '100'
type(a)

str

In [3]:
a = True
type(a)

bool

In [4]:
a = 3.14159
type(a)

float

In [6]:
say1 = "Hello! "
say2 = "Robert"
say1 + say2

'Hello! Robert'

In [25]:
var1 = 20
var2 = 3.14159
print("var1=" + str(var1) + ",var2=" + str(var2)) #一個參數
print("var1=",var1, ",var2=", var2, sep='') #多個參數
print("var1=%d,var2=%.2f" % (var1, var2)) #一個參數
print("var1={:d},var2={:.2f}".format(var1, var2)) #一個參數

var1=20,var2=3.14159
var1=20,var2=3.14159
var1=20,var2=3.14
var1=20,var2=3.14

In [13]:
a = 5
b = "5"
c = 3.14159
print(a, b, c)

5 5 3.14159

In [26]:
5+9+3

17

In [27]:
6*7

42

In [29]:
8/2

4.0

In [31]:
9//2

4

In [32]:
5/0

ZeroDivisionError: division by zero

In [33]:
9%5

4

In [34]:
2+3*4

14

In [35]:
2 * (1+2) ** 2 - 2 ** 2 * 2

10

In [37]:
googol = 10**100
googol * googol

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [38]:
'Snap'

'Snap'

In [39]:
"Crackle"

'Crackle'

In [42]:
print("'Nay', said the naysayer.")

'Nay', said the naysayer.

In [43]:
print("'Nay', said \"the\" naysayer.")

'Nay', said "the" naysayer.

In [45]:
print("'Nay', said3\\5 naysayer.")

'Nay', said3 naysayer.

In [48]:
poem = "Apple Arcade 推出的最新遊\
戲《Next Stop Nowhere》，由位於洛杉磯的開\
發商 Night School Studio 出品。這款遊戲是\
太空公路之旅的夥伴冒險，其中不同角色間展開了\
一些精彩的劇情。在銀河系的外圍，每個人和所有\
事物之間都有充分的空間，Night School 希\
望這款遊戲可為近來可能感到孤立的玩家提供一些慰藉。"
poem

'Apple Arcade 推出的最新遊戲《Next Stop Nowhere》，由位於洛杉磯的開發商 Night School Studio 出品。這款遊戲是太空公路之旅的夥伴冒險，其中不同角色間展開了一些精彩的劇情。在銀河系的外圍，每個人和所有事物之間都有充分的空間，Night School 希望這款遊戲可為近來可能感到孤立的玩家提供一些慰藉。'

In [50]:
poem = '''Apple Arcade 推出的最新遊戲
《Next Stop Nowhere》，由位於洛杉磯
的開發商 Night School Studio 出品。
這款遊戲是太空公路之旅的夥伴冒險，其
中不同角色間展開了一些精彩的劇情。在銀
河系的外圍，每個人和所有事物之間都有充
分的空間，Night School 希望這款遊戲可
為近來可能感到孤立的玩家提供一些慰藉。'''

print(poem)

Apple Arcade 推出的最新遊戲
《Next Stop Nowhere》，由位於洛杉磯
的開發商 Night School Studio 出品。
這款遊戲是太空公路之旅的夥伴冒險，其
中不同角色間展開了一些精彩的劇情。在銀
河系的外圍，每個人和所有事物之間都有充
分的空間，Night School 希望這款遊戲可
為近來可能感到孤立的玩家提供一些慰藉。