In [3]:
from sqlalchemy import create_engine,Column,Integer,String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

#建立engine
engine = create_engine('sqlite:///student.db',echo=True, future=True)

#建立session
Session = sessionmaker(bind=engine)
session = Session()

#建立要繼承的base
Base = declarative_base()

#建立自訂表格的class
class Student(Base):
    __tablename__ = 'student'
    
    id =  Column(Integer,primary_key=True)
    name = Column(String(50))
    age  =  Column(Integer)
    grade =  Column(String(50))

#執行matadata內資訊,table的建立(Migrate)
Base.metadata.create_all(engine)

2023-01-02 12:39:28,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-02 12:39:28,767 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("student")
2023-01-02 12:39:28,768 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-01-02 12:39:28,769 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
student1 = Student(name="Jerin", age=27, grade="Fifth")
session.add(student1)

student2 = Student(name="Anita", age=24, grade="Fourth")
student3 = Student(name="Jefin", age=21, grade="Third")
session.add_all([student2, student3])
session.commit()

2023-01-02 13:48:40,527 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-02 13:48:40,530 INFO sqlalchemy.engine.Engine INSERT INTO student (name, age, grade) VALUES (?, ?, ?)
2023-01-02 13:48:40,531 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ('Jerin', 27, 'Fifth')
2023-01-02 13:48:40,533 INFO sqlalchemy.engine.Engine INSERT INTO student (name, age, grade) VALUES (?, ?, ?)
2023-01-02 13:48:40,534 INFO sqlalchemy.engine.Engine [cached since 0.003666s ago] ('Anita', 24, 'Fourth')
2023-01-02 13:48:40,534 INFO sqlalchemy.engine.Engine INSERT INTO student (name, age, grade) VALUES (?, ?, ?)
2023-01-02 13:48:40,535 INFO sqlalchemy.engine.Engine [cached since 0.00506s ago] ('Jefin', 21, 'Third')
2023-01-02 13:48:40,536 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
#get all data
students = session.query(Student)

for student in students:
    print(student.name, student.age, student.grade)

#get data in order

students = session.query(Student).order_by(Student.name)
for student in students:
    print(student.name, student.age, student.grade)

#get data by filtering

student = session.query(Student).filter(Student.name=="Jerin").first()
print(student.name, student.age, student.grade)

from sqlalchemy import or_

students = session.query(Student).filter(or_(Student.name=="Jerin",Student.name=="Anita"))
for student in students:
    print(student.name, student.age, student.grade)

#count the number of results
students_count = session.query(Student).filter(or_(Student.name=="Jerin",Student.name=="Anita")).count()

print(students_count)

2023-01-02 14:13:43,643 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
2023-01-02 14:13:43,645 INFO sqlalchemy.engine.Engine [cached since 1070s ago] ()
Jerin 27 Fifth
Anita 24 Fourth
Jefin 21 Third
2023-01-02 14:13:43,647 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student ORDER BY student.name
2023-01-02 14:13:43,648 INFO sqlalchemy.engine.Engine [cached since 967.8s ago] ()
Anita 24 Fourth
Jefin 21 Third
Jerin 27 Fifth
2023-01-02 14:13:43,650 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
WHERE student.name = ?
 LIMIT ? OFFSET ?
2023-01-02 14:13:43,651 INFO sqlalchemy.engine.Engine [cached since 830.9s ago] ('Jerin', 1, 0)
Jerin 27 Fifth
2023-01-02 14:13:43,653 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
WHERE student.name = ? OR student.name = ?
2023-01-02 14:13:43,654 INFO sqlalchemy.engine.Engine [cached since 353.7s ago] ('Jerin', 'Anita')
Jerin 27 Fifth
Anita 24 Fourth
2023-01-02 14:13:43,658 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
WHERE student.name = ? OR student.name = ?) AS anon_1
2023-01-02 14:13:43,659 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('Jerin', 'Anita')
2

In [12]:
student = session.query(Student).filter(Student.name == 'Jerin').first()
student.name = "Kevin"
session.commit()

student = session.query(Student).filter(Student.name == 'Kevin').first()
print(student.name)

2023-01-02 14:24:28,674 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
WHERE student.name = ?
 LIMIT ? OFFSET ?
2023-01-02 14:24:28,675 INFO sqlalchemy.engine.Engine [cached since 1476s ago] ('Jerin', 1, 0)
2023-01-02 14:24:28,678 INFO sqlalchemy.engine.Engine UPDATE student SET name=? WHERE student.id = ?
2023-01-02 14:24:28,678 INFO sqlalchemy.engine.Engine [generated in 0.00078s] ('Kevin', 1)
2023-01-02 14:24:28,680 INFO sqlalchemy.engine.Engine COMMIT
2023-01-02 14:24:28,682 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-02 14:24:28,683 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
WHERE student.name = ?
 LIMIT ? OFFSET ?
2023-01-02 14:24:28,684 INFO sqlalchemy.engine.Engine [cached since 1476s ago] ('Kevin', 1, 0)
Kevin

In [13]:
student = session.query(Student).filter(Student.name=="Kevin").first()
session.delete(student)
session.commit()

2023-01-02 14:28:21,655 INFO sqlalchemy.engine.Engine SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
WHERE student.name = ?
 LIMIT ? OFFSET ?
2023-01-02 14:28:21,656 INFO sqlalchemy.engine.Engine [cached since 1709s ago] ('Kevin', 1, 0)
2023-01-02 14:28:21,658 INFO sqlalchemy.engine.Engine DELETE FROM student WHERE student.id = ?
2023-01-02 14:28:21,659 INFO sqlalchemy.engine.Engine [generated in 0.00082s] (1,)
2023-01-02 14:28:21,660 INFO sqlalchemy.engine.Engine COMMIT