In [1]:
import numpy as np
import pandas as pd

scores=np.random.randint(50, 101, size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
scores_pd

科目  國文   英文   數學   地理  歷史
學號
1   84   59   64   85  51
2   63  100   72   94  75
3   82   90   58   68  66
4   57   84   90  100  55
5   57   62   92   66  54
6   95   88   61   58  99
7   99   72   73   81  96
8   95   64   93   70  95
9   90   70   76   64  58
10  75   78   53   51  89
11  53   56   56   90  56
12  78   77   52   77  89
13  83   69   96   55  76
14  53   58   93   80  94
15  82   99   54   91  80
16  89   74   86   52  51
17  91   60   89   84  53
18  90   61   84   69  79
19  64  100   57   86  65
20  88   61   67   63  52
21  74   97   60   94  84
22  72   66   64   97  74
23  87   55   55   78  92
24  76   64   68   92  88
25  71   65   79   79  60
26  55   67   98   82  74
27  95   92   74   64  96
28  80   69   64   86  75
29  93   60   59   99  52
30  98   53   93   93  81
31  99   82   65   84  83
32  51   95   53   63  79
33  94   58   70   73  79
34  68   75   99   59  99
35  71   76   98   58  60
36  68   60   56   67  53
37  78   71   74   64  67
38  70   70   88   69  86
39  61   84   93   82  56
40  52   72   65   70  67
41  64   86   72   53  57
42  73   86  100   97  56
43  95   54   85   70  83
44  69   81   93   52  53
45  62   61   58   77  71
46  52   88   97  100  95
47  84   65   67   98  58
48  59   68   94   77  94
49  81   51   85   55  79
50  71   59   50   72  90

In [2]:
scores_pd['國文']

學號
1     84
2     63
3     82
4     57
5     57
6     95
7     99
8     95
9     90
10    75
11    53
12    78
13    83
14    53
15    82
16    89
17    91
18    90
19    64
20    88
21    74
22    72
23    87
24    76
25    71
26    55
27    95
28    80
29    93
30    98
31    99
32    51
33    94
34    68
35    71
36    68
37    78
38    70
39    61
40    52
41    64
42    73
43    95
44    69
45    62
46    52
47    84
48    59
49    81
50    71
Name: 國文, dtype: int64

In [3]:
scores_pd[['國文','數學']]

科目  國文   數學
學號
1   84   64
2   63   72
3   82   58
4   57   90
5   57   92
6   95   61
7   99   73
8   95   93
9   90   76
10  75   53
11  53   56
12  78   52
13  83   96
14  53   93
15  82   54
16  89   86
17  91   89
18  90   84
19  64   57
20  88   67
21  74   60
22  72   64
23  87   55
24  76   68
25  71   79
26  55   98
27  95   74
28  80   64
29  93   59
30  98   93
31  99   65
32  51   53
33  94   70
34  68   99
35  71   98
36  68   56
37  78   74
38  70   88
39  61   93
40  52   65
41  64   72
42  73  100
43  95   85
44  69   93
45  62   58
46  52   97
47  84   67
48  59   94
49  81   85
50  71   50

In [4]:
scores_pd.reindex(['國文','英文'],axis=1)

科目  國文   英文
學號
1   84   59
2   63  100
3   82   90
4   57   84
5   57   62
6   95   88
7   99   72
8   95   64
9   90   70
10  75   78
11  53   56
12  78   77
13  83   69
14  53   58
15  82   99
16  89   74
17  91   60
18  90   61
19  64  100
20  88   61
21  74   97
22  72   66
23  87   55
24  76   64
25  71   65
26  55   67
27  95   92
28  80   69
29  93   60
30  98   53
31  99   82
32  51   95
33  94   58
34  68   75
35  71   76
36  68   60
37  78   71
38  70   70
39  61   84
40  52   72
41  64   86
42  73   86
43  95   54
44  69   81
45  62   61
46  52   88
47  84   65
48  59   68
49  81   51
50  71   59

In [5]:
scores_pd[:5]

科目  國文   英文  數學   地理  歷史
學號
1   84   59  64   85  51
2   63  100  72   94  75
3   82   90  58   68  66
4   57   84  90  100  55
5   57   62  92   66  54

In [6]:
scores_pd.reindex([1,2,3,4,5])

科目  國文   英文  數學   地理  歷史
學號
1   84   59  64   85  51
2   63  100  72   94  75
3   82   90  58   68  66
4   57   84  90  100  55
5   57   62  92   66  54

In [7]:
scores_pd.loc[[1,2,3,4,5]]

科目  國文   英文  數學   地理  歷史
學號
1   84   59  64   85  51
2   63  100  72   94  75
3   82   90  58   68  66
4   57   84  90  100  55
5   57   62  92   66  54

In [8]:
scores_pd.iloc[:5]

科目  國文   英文  數學   地理  歷史
學號
1   84   59  64   85  51
2   63  100  72   94  75
3   82   90  58   68  66
4   57   84  90  100  55
5   57   62  92   66  54

In [9]:
scores_pd.reindex(index=[1,2,3,4,5],columns=['國文','數學','歷史'])

科目  國文  數學  歷史
學號
1   84  64  51
2   63  72  75
3   82  58  66
4   57  90  55
5   57  92  54

In [10]:
scores_pd.loc[1:5,['國文','數學','歷史']]

科目  國文  數學  歷史
學號
1   84  64  51
2   63  72  75
3   82  58  66
4   57  90  55
5   57  92  54

In [11]:
scores_pd.iloc[:5,[0,2,4]]

科目  國文  數學  歷史
學號
1   84  64  51
2   63  72  75
3   82  58  66
4   57  90  55
5   57  92  54

In [12]:
scores_pd

科目  國文   英文   數學   地理  歷史
學號
1   84   59   64   85  51
2   63  100   72   94  75
3   82   90   58   68  66
4   57   84   90  100  55
5   57   62   92   66  54
6   95   88   61   58  99
7   99   72   73   81  96
8   95   64   93   70  95
9   90   70   76   64  58
10  75   78   53   51  89
11  53   56   56   90  56
12  78   77   52   77  89
13  83   69   96   55  76
14  53   58   93   80  94
15  82   99   54   91  80
16  89   74   86   52  51
17  91   60   89   84  53
18  90   61   84   69  79
19  64  100   57   86  65
20  88   61   67   63  52
21  74   97   60   94  84
22  72   66   64   97  74
23  87   55   55   78  92
24  76   64   68   92  88
25  71   65   79   79  60
26  55   67   98   82  74
27  95   92   74   64  96
28  80   69   64   86  75
29  93   60   59   99  52
30  98   53   93   93  81
31  99   82   65   84  83
32  51   95   53   63  79
33  94   58   70   73  79
34  68   75   99   59  99
35  71   76   98   58  60
36  68   60   56   67  53
37  78   71   74   64  67
38  70   70   88   69  86
39  61   84   93   82  56
40  52   72   65   70  67
41  64   86   72   53  57
42  73   86  100   97  56
43  95   54   85   70  83
44  69   81   93   52  53
45  62   61   58   77  71
46  52   88   97  100  95
47  84   65   67   98  58
48  59   68   94   77  94
49  81   51   85   55  79
50  71   59   50   72  90

In [13]:
scores_pd.iloc[0,0] = 60
scores_pd

科目  國文   英文   數學   地理  歷史
學號
1   60   59   64   85  51
2   63  100   72   94  75
3   82   90   58   68  66
4   57   84   90  100  55
5   57   62   92   66  54
6   95   88   61   58  99
7   99   72   73   81  96
8   95   64   93   70  95
9   90   70   76   64  58
10  75   78   53   51  89
11  53   56   56   90  56
12  78   77   52   77  89
13  83   69   96   55  76
14  53   58   93   80  94
15  82   99   54   91  80
16  89   74   86   52  51
17  91   60   89   84  53
18  90   61   84   69  79
19  64  100   57   86  65
20  88   61   67   63  52
21  74   97   60   94  84
22  72   66   64   97  74
23  87   55   55   78  92
24  76   64   68   92  88
25  71   65   79   79  60
26  55   67   98   82  74
27  95   92   74   64  96
28  80   69   64   86  75
29  93   60   59   99  52
30  98   53   93   93  81
31  99   82   65   84  83
32  51   95   53   63  79
33  94   58   70   73  79
34  68   75   99   59  99
35  71   76   98   58  60
36  68   60   56   67  53
37  78   71   74   64  67
38  70   70   88   69  86
39  61   84   93   82  56
40  52   72   65   70  67
41  64   86   72   53  57
42  73   86  100   97  56
43  95   54   85   70  83
44  69   81   93   52  53
45  62   61   58   77  71
46  52   88   97  100  95
47  84   65   67   98  58
48  59   68   94   77  94
49  81   51   85   55  79
50  71   59   50   72  90

In [14]:
scores_pd.loc[2] = [100,100,100,100,100]
scores_pd.loc[1] = scores_pd.loc[1] + 1
scores_pd.iloc[-3:] -= 5

In [15]:
scores_pd

科目   國文   英文   數學   地理   歷史
學號
1    61   60   65   86   52
2   100  100  100  100  100
3    82   90   58   68   66
4    57   84   90  100   55
5    57   62   92   66   54
6    95   88   61   58   99
7    99   72   73   81   96
8    95   64   93   70   95
9    90   70   76   64   58
10   75   78   53   51   89
11   53   56   56   90   56
12   78   77   52   77   89
13   83   69   96   55   76
14   53   58   93   80   94
15   82   99   54   91   80
16   89   74   86   52   51
17   91   60   89   84   53
18   90   61   84   69   79
19   64  100   57   86   65
20   88   61   67   63   52
21   74   97   60   94   84
22   72   66   64   97   74
23   87   55   55   78   92
24   76   64   68   92   88
25   71   65   79   79   60
26   55   67   98   82   74
27   95   92   74   64   96
28   80   69   64   86   75
29   93   60   59   99   52
30   98   53   93   93   81
31   99   82   65   84   83
32   51   95   53   63   79
33   94   58   70   73   79
34   68   75   99   59   99
35   71   76   98   58   60
36   68   60   56   67   53
37   78   71   74   64   67
38   70   70   88   69   86
39   61   84   93   82   56
40   52   72   65   70   67
41   64   86   72   53   57
42   73   86  100   97   56
43   95   54   85   70   83
44   69   81   93   52   53
45   62   61   58   77   71
46   52   88   97  100   95
47   84   65   67   98   58
48   54   63   89   72   89
49   76   46   80   50   74
50   66   54   45   67   85

In [18]:
#統計
scores_sum=scores_pd.sum(axis=1)