In [5]:
import numpy as np
import pandas as pd

scores=np.random.randint(50, 101, size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
scores_pd

科目   國文   英文   數學   地理   歷史
學號
1    56   83   89  100   69
2    71   65   61   88   61
3   100   77   70   72   58
4    56   95   77   93   52
5    84   50   73   99   64
6    72   96   99   72   63
7    97   58   75   77   84
8    65   97   77   53   80
9    52   82   89   74   69
10   60   53   51   86   81
11   71   69   94   63   69
12   61   63   67   88   67
13   61   58   70   65   75
14   56   78   55   76  100
15   60   84   91   91   80
16   50   84   61   58   75
17   75   66   82   94   93
18   54   80   62   72   50
19   81   50   68   71   83
20   96   81   70   62   84
21   75   60   61  100   54
22   92  100   50   84   76
23   50   80   58   72   67
24   61   82   57   91   65
25   52   74   67   70   74
26   76   87   67   80   62
27   61   72  100   77   50
28   55   85   93   67   72
29   74   74   67   67   80
30   67   57   96   53   82
31   72   91   50   62   74
32   74   65   74   78   75
33   98   69   74   61   60
34   69   78   74   65   79
35   65   60   65   58   70
36   58   74   64   81   88
37   60   79   99   85   61
38   75   79   77   75   57
39   59   77   78   67   70
40   98   93   92   54   93
41   80   67  100   86   90
42   80   86   85   86   69
43   75   67   60   72   85
44   50   54   60   58   72
45   59   99   91   77   77
46   92   63   81   58   50
47   58   65   88   90   69
48   80   68   53   83   70
49   58   53   68   72   91
50   98   82   52   52  100

In [6]:
scores_pd['國文']

學號
1      56
2      71
3     100
4      56
5      84
6      72
7      97
8      65
9      52
10     60
11     71
12     61
13     61
14     56
15     60
16     50
17     75
18     54
19     81
20     96
21     75
22     92
23     50
24     61
25     52
26     76
27     61
28     55
29     74
30     67
31     72
32     74
33     98
34     69
35     65
36     58
37     60
38     75
39     59
40     98
41     80
42     80
43     75
44     50
45     59
46     92
47     58
48     80
49     58
50     98
Name: 國文, dtype: int64

In [7]:
scores_pd[['國文','數學']]

科目   國文   數學
學號
1    56   89
2    71   61
3   100   70
4    56   77
5    84   73
6    72   99
7    97   75
8    65   77
9    52   89
10   60   51
11   71   94
12   61   67
13   61   70
14   56   55
15   60   91
16   50   61
17   75   82
18   54   62
19   81   68
20   96   70
21   75   61
22   92   50
23   50   58
24   61   57
25   52   67
26   76   67
27   61  100
28   55   93
29   74   67
30   67   96
31   72   50
32   74   74
33   98   74
34   69   74
35   65   65
36   58   64
37   60   99
38   75   77
39   59   78
40   98   92
41   80  100
42   80   85
43   75   60
44   50   60
45   59   91
46   92   81
47   58   88
48   80   53
49   58   68
50   98   52

In [9]:
scores_pd.reindex(['國文','英文'],axis=1)

科目   國文   英文
學號
1    56   83
2    71   65
3   100   77
4    56   95
5    84   50
6    72   96
7    97   58
8    65   97
9    52   82
10   60   53
11   71   69
12   61   63
13   61   58
14   56   78
15   60   84
16   50   84
17   75   66
18   54   80
19   81   50
20   96   81
21   75   60
22   92  100
23   50   80
24   61   82
25   52   74
26   76   87
27   61   72
28   55   85
29   74   74
30   67   57
31   72   91
32   74   65
33   98   69
34   69   78
35   65   60
36   58   74
37   60   79
38   75   79
39   59   77
40   98   93
41   80   67
42   80   86
43   75   67
44   50   54
45   59   99
46   92   63
47   58   65
48   80   68
49   58   53
50   98   82

In [10]:
scores_pd[:5]

科目   國文  英文  數學   地理  歷史
學號
1    56  83  89  100  69
2    71  65  61   88  61
3   100  77  70   72  58
4    56  95  77   93  52
5    84  50  73   99  64

In [11]:
scores_pd.reindex([1,2,3,4,5])

科目   國文  英文  數學   地理  歷史
學號
1    56  83  89  100  69
2    71  65  61   88  61
3   100  77  70   72  58
4    56  95  77   93  52
5    84  50  73   99  64

In [12]:
scores_pd.loc[[1,2,3,4,5]]

科目   國文  英文  數學   地理  歷史
學號
1    56  83  89  100  69
2    71  65  61   88  61
3   100  77  70   72  58
4    56  95  77   93  52
5    84  50  73   99  64

In [13]:
scores_pd.iloc[:5]

科目   國文  英文  數學   地理  歷史
學號
1    56  83  89  100  69
2    71  65  61   88  61
3   100  77  70   72  58
4    56  95  77   93  52
5    84  50  73   99  64

In [16]:
scores_pd.reindex(index=[1,2,3,4,5],columns=['國文','數學','歷史'])

科目   國文  數學  歷史
學號
1    56  89  69
2    71  61  61
3   100  70  58
4    56  77  52
5    84  73  64

In [18]:
scores_pd.loc[1:5,['國文','數學','歷史']]

科目   國文  數學  歷史
學號
1    56  89  69
2    71  61  61
3   100  70  58
4    56  77  52
5    84  73  64

In [20]:
scores_pd.iloc[:5,[0,2,4]]

科目   國文  數學  歷史
學號
1    56  89  69
2    71  61  61
3   100  70  58
4    56  77  52
5    84  73  64

In [25]:
scores_pd

科目   國文   英文   數學   地理   歷史
學號
1    56   83   89  100   69
2    71   65   61   88   61
3   100   77   70   72   58
4    56   95   77   93   52
5    84   50   73   99   64
6    72   96   99   72   63
7    97   58   75   77   84
8    65   97   77   53   80
9    52   82   89   74   69
10   60   53   51   86   81
11   71   69   94   63   69
12   61   63   67   88   67
13   61   58   70   65   75
14   56   78   55   76  100
15   60   84   91   91   80
16   50   84   61   58   75
17   75   66   82   94   93
18   54   80   62   72   50
19   81   50   68   71   83
20   96   81   70   62   84
21   75   60   61  100   54
22   92  100   50   84   76
23   50   80   58   72   67
24   61   82   57   91   65
25   52   74   67   70   74
26   76   87   67   80   62
27   61   72  100   77   50
28   55   85   93   67   72
29   74   74   67   67   80
30   67   57   96   53   82
31   72   91   50   62   74
32   74   65   74   78   75
33   98   69   74   61   60
34   69   78   74   65   79
35   65   60   65   58   70
36   58   74   64   81   88
37   60   79   99   85   61
38   75   79   77   75   57
39   59   77   78   67   70
40   98   93   92   54   93
41   80   67  100   86   90
42   80   86   85   86   69
43   75   67   60   72   85
44   50   54   60   58   72
45   59   99   91   77   77
46   92   63   81   58   50
47   58   65   88   90   69
48   80   68   53   83   70
49   58   53   68   72   91
50   98   82   52   52  100

In [26]:
scores_pd.iloc[0,0] = 60
scores_pd

科目   國文   英文   數學   地理   歷史
學號
1    60   83   89  100   69
2    71   65   61   88   61
3   100   77   70   72   58
4    56   95   77   93   52
5    84   50   73   99   64
6    72   96   99   72   63
7    97   58   75   77   84
8    65   97   77   53   80
9    52   82   89   74   69
10   60   53   51   86   81
11   71   69   94   63   69
12   61   63   67   88   67
13   61   58   70   65   75
14   56   78   55   76  100
15   60   84   91   91   80
16   50   84   61   58   75
17   75   66   82   94   93
18   54   80   62   72   50
19   81   50   68   71   83
20   96   81   70   62   84
21   75   60   61  100   54
22   92  100   50   84   76
23   50   80   58   72   67
24   61   82   57   91   65
25   52   74   67   70   74
26   76   87   67   80   62
27   61   72  100   77   50
28   55   85   93   67   72
29   74   74   67   67   80
30   67   57   96   53   82
31   72   91   50   62   74
32   74   65   74   78   75
33   98   69   74   61   60
34   69   78   74   65   79
35   65   60   65   58   70
36   58   74   64   81   88
37   60   79   99   85   61
38   75   79   77   75   57
39   59   77   78   67   70
40   98   93   92   54   93
41   80   67  100   86   90
42   80   86   85   86   69
43   75   67   60   72   85
44   50   54   60   58   72
45   59   99   91   77   77
46   92   63   81   58   50
47   58   65   88   90   69
48   80   68   53   83   70
49   58   53   68   72   91
50   98   82   52   52  100

In [31]:
scores_pd.loc[2] = [100,100,100,100,100]
scores_pd.loc[1] = scores_pd.loc[1] + 1
scores_pd.iloc[-3:] -= 5

In [32]:
scores_pd

科目   國文   英文   數學   地理   歷史
學號
1    62   85   91  102   71
2   100  100  100  100  100
3   100   77   70   72   58
4    56   95   77   93   52
5    84   50   73   99   64
6    72   96   99   72   63
7    97   58   75   77   84
8    65   97   77   53   80
9    52   82   89   74   69
10   60   53   51   86   81
11   71   69   94   63   69
12   61   63   67   88   67
13   61   58   70   65   75
14   56   78   55   76  100
15   60   84   91   91   80
16   50   84   61   58   75
17   75   66   82   94   93
18   54   80   62   72   50
19   81   50   68   71   83
20   96   81   70   62   84
21   75   60   61  100   54
22   92  100   50   84   76
23   50   80   58   72   67
24   61   82   57   91   65
25   52   74   67   70   74
26   76   87   67   80   62
27   61   72  100   77   50
28   55   85   93   67   72
29   74   74   67   67   80
30   67   57   96   53   82
31   72   91   50   62   74
32   74   65   74   78   75
33   98   69   74   61   60
34   69   78   74   65   79
35   65   60   65   58   70
36   58   74   64   81   88
37   60   79   99   85   61
38   75   79   77   75   57
39   59   77   78   67   70
40   98   93   92   54   93
41   80   67  100   86   90
42   80   86   85   86   69
43   75   67   60   72   85
44   50   54   60   58   72
45   59   99   91   77   77
46   92   63   81   58   50
47   58   65   88   90   69
48   75   63   48   78   65
49   53   48   63   67   86
50   93   77   47   47   95