In [2]:
#建立空的dictionary
empyt_dict = {}
empyt_dict

{}

In [3]:
codes = {
    "tw":"Taiwan",
    "jp":"Japan",
    "hk":"Hong Kong"
}

codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [4]:
codes["tw"]

'Taiwan'

In [5]:
codes["cn"] = "China"
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong', 'cn': 'China'}

In [6]:
del codes["cn"]
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [9]:
for key in codes:
    print(f"{key}:{codes[key]}")

tw:Taiwan
jp:Japan
hk:Hong Kong

In [10]:
for key,value in codes.items():
    print(f"{key}:{value}")

tw:Taiwan
jp:Japan
hk:Hong Kong

In [11]:
"tw" in codes

True

In [12]:
"co" in codes

False

In [13]:
num_set = {1, 2, 3, 4, 5, 1, 2, 3, 4, 5}
num_set

{1, 2, 3, 4, 5}

In [14]:
num_list = list(num_set)
num_list

[1, 2, 3, 4, 5]