In [1]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
       }
data

{'縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
 '年份': [2000, 2001, 2002, 2001, 2002, 2003],
 '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}

In [2]:
import pandas as pd
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [3]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
       }
data

{'縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
 '年份': [2000, 2001, 2002, 2001, 2002, 2003],
 '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}

In [4]:
dataFrame = pd.DataFrame(data,columns=['縣市','人口'])
dataFrame

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [5]:
dataFrame['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [6]:
dataFrame['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [7]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
       }
data

{'縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
 '年份': [2000, 2001, 2002, 2001, 2002, 2003],
 '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}

In [8]:
frame2 = pd.DataFrame(data,
                      columns=['縣市','年份', '人口', '負債'],
                      index = ['one', 'two', 'three', 'four', 'five', 'six']
                     )
frame2

       縣市    年份   人口   負債
one    台北  2000  2.2  NaN
two    台北  2001  2.5  NaN
three  台北  2002  2.7  NaN
four   新竹  2001  1.1  NaN
five   新竹  2002  1.5  NaN
six    新竹  2003  2.0  NaN

In [9]:
frame2.columns

Index(['縣市', '年份', '人口', '負債'], dtype='object')

In [10]:
frame2['負債'] = 6.5
frame2

       縣市    年份   人口   負債
one    台北  2000  2.2  6.5
two    台北  2001  2.5  6.5
three  台北  2002  2.7  6.5
four   新竹  2001  1.1  6.5
five   新竹  2002  1.5  6.5
six    新竹  2003  2.0  6.5

In [11]:
frame2.loc['three']

縣市      台北
年份    2002
人口     2.7
負債     6.5
Name: three, dtype: object

In [12]:
import numpy as np
frame2['負債'] = np.arange(6.)

In [13]:
frame2

       縣市    年份   人口   負債
one    台北  2000  2.2  0.0
two    台北  2001  2.5  1.0
three  台北  2002  2.7  2.0
four   新竹  2001  1.1  3.0
five   新竹  2002  1.5  4.0
six    新竹  2003  2.0  5.0

In [15]:
pop = {
    '台北':{2001:2.4, 2002:2.9},
    '高雄':{2001:1.5, 2002:2.5} 
      }
frame3 = pd.DataFrame(pop)
frame3.index.name = '年份'
frame3.columns.name = '縣市'
frame3

縣市     台北   高雄
年份
2001  2.4  1.5
2002  2.9  2.5

In [18]:
array = frame3.values
array.dtype

dtype('float64')

In [19]:
array.shape

(2, 2)