In [8]:
#字串.replace()
name = 'Henny'
name = name.replace('H', 'P')
name

'Penny'

In [10]:
#字串.find()
str1 = "this is Python Tutorial, there"
print(str1.find('Python'))
str1.find('not')

8

-1

In [11]:
#join()
str1 = "-"
str2 = ['a', 'b', 'c']
str1.join(str2)

'a-b-c'

In [12]:
#split(分割符號)
todos = 'get gloves,get mask,give cat vitamins,call ambulance' 
todos.split(',')

['get gloves', 'get mask', 'give cat vitamins', 'call ambulance']

In [13]:
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
weekdays[4]

'星期五'

In [14]:
weekdays

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [15]:
weekdays[9]

IndexError: list index out of range

In [16]:
#使用中括號[] or list()建立空的list
empty_list = []
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'] 
big_birds = ['emu', 'ostrich', 'cassowary'] 
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

another_empty_list = list()
another_empty_list

[]

In [17]:
#使用list()轉換其它型態為list
list('cat')

['c', 'a', 't']

In [18]:
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [19]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [20]:
citys = ['台北', '台中', '高雄']
citys[0]

'台北'

In [21]:
citys[1]

'台中'

In [23]:
citys[2]

'高雄'

In [24]:
citys[-1]

'高雄'

In [25]:
citys[-2]

'台中'

In [26]:
citys[-3]

'台北'

In [27]:
list1 = ['H', 'i']
tuple1 = ('H', 'i')

print(list1)
print(tuple1)

['H', 'i']
('H', 'i')

In [28]:
list1[1] = 'a'
tuple1[1] = 'a'

TypeError: 'tuple' object does not support item assignment

In [29]:
print(list1)
print(tuple1)

['H', 'a']
('H', 'i')