In [1]:
lst_1 = [1, 2]
lst_2 = [3, 4]
lst_3 = lst_1 + lst_2
lst_4 = lst_3 * 2
print(lst_4)

[1, 2, 3, 4, 1, 2, 3, 4]

In [7]:
distance = float(input('請輸入距離(單位：公尺)：'))
time = float(input('請輸入時間(單位：秒)'))
avg = (distance / 1000) / (time / 3600)
print('平均時速 = %.2f 公里/小時' % avg)

請輸入距離(單位：公尺)：100
請輸入時間(單位：秒)20
平均時速 = 18.00 公里/小時

In [9]:
total = 2345
num = 15
int(total / num)

156

In [10]:
total // num

156

In [11]:
height = 172
type(height)

int

In [13]:
pass1 = True
type(pass1)

bool

In [14]:
name = "張無忌"
type(name)

str

In [15]:
score = 98.0
type(score)

float

In [16]:
tel = '0928000000'
type(tel)

str

In [19]:
born = input("請輸入出生的民國年： ")
#type(born)
year = input("請輸入現在的民國年： ")
age = eval(year) - eval(born)
#type(age)
msg = "你的年齡是： " + str(age)
type(msg)

請輸入出生的民國年： 69
請輸入現在的民國年： 109

str

In [21]:
year = eval('69')
print(year)
type(year)

69

int

In [23]:
total = eval('69.12')
print(total)
type(total)

69.12

float

In [25]:
x1 = '5'
y1 = 4
a = x1 * y1

'5555'

In [26]:
x2, y2 = 6, 3
b = x2 / y2
b

2.0

In [27]:
x3, y3 = 1.0, 2
c = x3 + y3
c

3.0

In [29]:
print(+5E10)
type(+5E10)

50000000000.0

float

In [30]:
type(4.0)

float

In [31]:
type("False")

str

In [32]:
type(True)

bool

In [44]:
datas = {1: '張三', 2: '李四', 3: '王五'}
num = input('請輸入座號: ')
if not num in datas:
    print('該座號不存在！')
else:
    print("學生姓名為： " + datas[num])

請輸入座號: 1
該座號不存在！

In [37]:
1 in datas

True

In [38]:
'1' in datas

False

In [39]:
def dataType(val):
    return type(val)

print(dataType(False))

<class 'bool'>

In [40]:
print(dataType(3.0))

<class 'float'>

In [41]:
print(dataType(3))

<class 'int'>

In [42]:
print(dataType("False"))

<class 'str'>

In [46]:
num = input('請輸入整數：')
type(num)

請輸入整數：45

str

In [50]:
num = int(float((input('請輸入整數：'))))
type(num)

請輸入整數：45.5

int

In [55]:
def reverse_word(old_word):
    word = ''
    for index in range(len(old_word)-1, -1, -1):
        word += old_word[index]
    return word

print(reverse_word("nohtyP"))

Python

In [52]:
name = 'hello'
for i in range(len(name)-1,-1,-1):
    print(name[i])

o
l
l
e
h