In [1]:
v1 = 'Hello'
v2 = 25
v3 = 45.34
print('say %s age=%i float=%.1f' % (v1,v2,v3))

say Hello age=25 float=45.3

In [3]:
v1 = 'Hello'
v2 = 25
v3 = 45.34
print('say {0:s} age={1:d} float={2:.1f}'.format(v1,v2,v3))

say Hello age=25 float=45.3

In [5]:
v1 = 'Hello'
v2 = 25
v3 = 45.34
print(f'say {v1} age={v2} float={v3}')

say Hello age=25 float=45.34

In [13]:
from decimal import Decimal
print(Decimal('1.1') + Decimal('2.2'))

3.3

In [16]:
value=1.1 + 2.2
print('{:f}'.format(value))

3.300000

In [17]:
container = 10
container = 20

In [18]:
def changeValue(value):
    value = 10
    
    
a = 50
changeValue(a)
a

50

In [22]:
#value type
def changeValue(value):
    value = 10
    return value
    
    
a = 50

a = changeValue(a)
a

10

In [25]:
#value type
name = "Henny"
name=name.replace("H","P")
name

'Penny'

In [26]:
#reference type
def changeList(reference):
    reference[0] = 'susan'


nameList = ['robert','alice','jenny']
changeList(nameList)
print(t)

['susan', 'alice', 'jenny']

In [29]:
#position呼叫
def menu(wine, entree, dessert):
    return {'wine':wine, 'entree':entree, 'dessert':dessert}

menu('紅酒', '牛排', '蛋糕')

{'wine': '紅酒', 'entree': '牛排', 'dessert': '蛋糕'}

In [30]:
#引數名稱呼叫
menu(wine='紅酒', entree='牛排', dessert='蛋糕')

{'wine': '紅酒', 'entree': '牛排', 'dessert': '蛋糕'}

In [31]:
#引數名稱呼叫
menu(wine='紅酒', dessert='蛋糕' ,entree='牛排')

{'wine': '紅酒', 'entree': '牛排', 'dessert': '蛋糕'}