In [3]:
name = 'henny'
name = 'Robert'
name

'Robert'

In [6]:
name = 'henny'
name = name.capitalize()

In [7]:
name

'Henny'

In [13]:
name = "Henny"
name = name.replace("H", 'h')
name

'henny'

In [19]:
str1 = "This is Python, That is Java; This is SQLite, That is MySQL"
print("原本的字串:", str1)
print()
print("is 替換為 - :", str1.replace('is', '-'))

原本的字串: This is Python, That is Java; This is SQLite, That is MySQL

is 替換為 - : Th- - Python, That - Java; Th- - SQLite, That - MySQL

'This is Python, That is Java; This is SQLite, That is MySQL'

In [23]:
str1 = "this is Python Tutorial, there"
search1 = "Python1"
str1.find(search1)

-1

In [24]:
todos = 'get gloves,get mask,give cat vitamins,call ambulance'
todos.split(',')

['get gloves', 'get mask', 'give cat vitamins', 'call ambulance']

In [25]:
str1 = "This is Python, That is Java; This is SQLite, That is MySQL"
newStr1=str1.split(' ')
newStr1

['This',
 'is',
 'Python,',
 'That',
 'is',
 'Java;',
 'This',
 'is',
 'SQLite,',
 'That',
 'is',
 'MySQL']

In [26]:
simble = "-"
list2 = ['a', 'b', 'c']
simble.join(list2)

'a-b-c'

In [29]:
n = '513'
n[:2]

'51'

In [30]:
setup = 'a duck goes into a bar...'

In [31]:
setup.strip('.')

'a duck goes into a bar'

In [33]:
setup.capitalize()

'A duck goes into a bar...'

In [34]:
setup.title()

'A Duck Goes Into A Bar...'

In [35]:
setup.upper()

'A DUCK GOES INTO A BAR...'

In [36]:
setup.lower()

'a duck goes into a bar...'

In [37]:
setup.center(40)

'       a duck goes into a bar...        '

In [38]:
setup

'a duck goes into a bar...'