In [4]:
a = 7
a

7

In [5]:
b = 10
c = 20
b + c

30

In [6]:
d = 50
k = 40

In [7]:
a = 10
b = 5
a + b

15

In [8]:
a = 10
b = 5.0
a + b

15.0

In [9]:
a = '10'
b = 5.0
a + b

TypeError: can only concatenate str (not "float") to str

In [20]:
a = '10'
print('a=',a)
b = 5.0
print('b=',b)
float(a) + b

a= 10
b= 5.0

15.0