In [1]:
#請取出 新北市中和區,新北市新莊區,嘉義縣水上鄉,臺東縣池上鄉,花蓮縣玉里鎮
#將這個整合為新的dataFrame

In [8]:
import numpy as np
import pandas as pd

dataFrame = pd.read_csv('各鄉鎮市區人口密度.csv')
dataFrame.columns = dataFrame.loc[0]
dataFrame = dataFrame.drop([0])
data1=dataFrame[dataFrame['區域別'] == '新北市中和區']
data1

0  統計年     區域別   年底人口數    土地面積   人口密度
3  106  新北市中和區  413590  20.144  20532

In [9]:
data2=dataFrame[dataFrame['區域別'] == '新北市新莊區']
data2

0  統計年     區域別   年底人口數     土地面積   人口密度
5  106  新北市新莊區  416524  19.7383  21102

In [10]:
data3=dataFrame[dataFrame['區域別'] == '嘉義縣水上鄉']
data3

0    統計年     區域別  年底人口數     土地面積 人口密度
272  106  嘉義縣水上鄉  49744  69.1198  720

In [11]:
data4=dataFrame[dataFrame['區域別'] == '臺東縣池上鄉']
data4

0    統計年     區域別 年底人口數     土地面積 人口密度
321  106  臺東縣池上鄉  8248  82.6854  100

In [12]:
data5=dataFrame[dataFrame['區域別'] == '花蓮縣玉里鎮']
data5

0    統計年     區域別  年底人口數      土地面積 人口密度
330  106  花蓮縣玉里鎮  24345  252.3719   96

In [14]:
pd.concat([data1,data2,data3,data4,data5],axis=0,ignore_index=True)

0  統計年     區域別   年底人口數      土地面積   人口密度
0  106  新北市中和區  413590    20.144  20532
1  106  新北市新莊區  416524   19.7383  21102
2  106  嘉義縣水上鄉   49744   69.1198    720
3  106  臺東縣池上鄉    8248   82.6854    100
4  106  花蓮縣玉里鎮   24345  252.3719     96