In [9]:
import numpy as np
import pandas as pd 
data = pd.Series(np.random.randn(9),index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]])
data

a  1    1.215157
   2    0.963813
   3    0.069255
b  1   -0.173785
   2    1.256191
c  3    0.267833
   1   -1.484521
d  2    0.945278
   3   -0.097657
dtype: float64

In [6]:
data['a'] #標籤名稱

1    0.155103
2   -1.187751
3    0.797345
dtype: float64

In [7]:
data[['a','b']] #list

a  1    0.155103
   2   -1.187751
   3    0.797345
b  1   -0.383136
   2    0.409899
dtype: float64

In [8]:
data['b':'c'] #slice

b  1   -0.383136
   2    0.409899
c  3    0.511487
   1   -0.216522
dtype: float64

In [11]:
data

a  1    1.215157
   2    0.963813
   3    0.069255
b  1   -0.173785
   2    1.256191
c  3    0.267833
   1   -1.484521
d  2    0.945278
   3   -0.097657
dtype: float64

In [12]:
data.unstack()

          1         2         3
a  1.215157  0.963813  0.069255
b -0.173785  1.256191       NaN
c -1.484521       NaN  0.267833
d       NaN  0.945278 -0.097657