In [1]:
#Dictionary
empty_dict = {}
empty_dict

{}

In [2]:
codes = {"tw": "Taiwan",
         "jp": "Japan",
         "hk":"Hong Kong"}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [5]:
myTuple = codes["tw"],codes["jp"],codes["hk"]

In [7]:
#tuple的拆解法
country1, country2, country3 = myTuple

In [8]:
country1

'Taiwan'

In [9]:
country2

'Japan'

In [10]:
country3

'Hong Kong'

In [11]:
print(type(codes))

<class 'dict'>

In [15]:
#取出所有的key
for key in codes.keys():
    print(key)

tw
jp
hk

In [16]:
#取出所有的value
for value in codes.values():
    print(value)

Taiwan
Japan
Hong Kong

In [18]:
#取出所有的一組資料
for key,value in codes.items():
    print(key)
    print(value)
    print("==========")

tw
Taiwan
==========
jp
Japan
==========
hk
Hong Kong
==========

In [19]:
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [20]:
#新增
codes["fr"] = "French"
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong', 'fr': 'French'}

In [21]:
#修改
codes["tw"] = "Taiwan number1"
codes

{'tw': 'Taiwan number1', 'jp': 'Japan', 'hk': 'Hong Kong', 'fr': 'French'}

In [23]:
#刪除
del codes["hk"]
codes

{'tw': 'Taiwan number1', 'jp': 'Japan', 'fr': 'French'}

In [24]:
#複雜的表格資料
#三維的資料
三洋國小 = {
    "3年5班":[["stu1",76,57,92],["stu2",76,57,92]],
    "3年6班":[["stu1",84,67,82],["stu2",85,97,52]]
}
三洋國小

{'3年5班': [['stu1', 76, 57, 92], ['stu2', 76, 57, 92]],
 '3年6班': [['stu1', 84, 67, 82], ['stu2', 85, 97, 52]]}

In [25]:
三洋國小['3年5班']

[['stu1', 76, 57, 92], ['stu2', 76, 57, 92]]