In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.394636  0.222320
1    a  two -1.308837  1.380620
2    b  one  2.069418 -0.577864
3    b  two  0.215294 -0.681284
4    a  one  1.024716  0.206426

In [4]:
groupkey1= df.groupby('key1')
groupkey1

In [5]:
groupkey1.count()

      key2  data1  data2
key1
a        3      3      3
b        2      2      2

In [6]:
for key,value in groupkey1:
    print(key)
    print(value)

a
  key1 key2     data1     data2
0    a  one -0.394636  0.222320
1    a  two -1.308837  1.380620
4    a  one  1.024716  0.206426
b
  key1 key2     data1     data2
2    b  one  2.069418 -0.577864
3    b  two  0.215294 -0.681284

In [7]:
key1Dict=dict(list(groupkey1))
key1Dict

{'a':   key1 key2     data1     data2
 0    a  one -0.394636  0.222320
 1    a  two -1.308837  1.380620
 4    a  one  1.024716  0.206426,
 'b':   key1 key2     data1     data2
 2    b  one  2.069418 -0.577864
 3    b  two  0.215294 -0.681284}

In [9]:
key1Dict['a']

  key1 key2     data1     data2
0    a  one -0.394636  0.222320
1    a  two -1.308837  1.380620
4    a  one  1.024716  0.206426

In [10]:
key1Dict['b']

  key1 key2     data1     data2
2    b  one  2.069418 -0.577864
3    b  two  0.215294 -0.681284