In [3]:
list1 = [10, 20, 30, 40, 50]
list1

[10, 20, 30, 40, 50]

In [5]:
list1.__class__

list

In [8]:
#取出值
print(list1[0])
list1[0] = 60 # 改變值
print(list1[0])

10
60

In [9]:
#超出索引
list1[20]

IndexError: list index out of range

In [16]:
#建立list的方式
#建立空的list,使用符號[]
empty_list = []

#使用符號建立list
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'] 
weekdays[0]

#使用list()建立空的list

another_empty_list = list()
another_empty_list

#使用list()建立

list('cat')
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [17]:
citys = ['台北', '台中', '高雄']

In [23]:
citys[0]
citys[1]
citys[2]
citys[-1]
citys[-2]
citys[-3]

'台北'

In [24]:
citys[0] = '新竹'
citys[0]

'新竹'

In [30]:
#tuple的操作法和list相同
#tuple不可以更改內容

cities = ('台北', '台中', '高雄')
cities[0]
cities[-3]

'台北'

In [31]:
cities[0] = '新竹'

TypeError: 'tuple' object does not support item assignment

In [32]:
list2 = list("Hello! World!")
list2

['H', 'e', 'l', 'l', 'o', '!', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [36]:
#slice
#前6個
list2[0:6]

['H', 'e', 'l', 'l', 'o', '!']

In [38]:
#slice
#後6個
list2[-6:]

['W', 'o', 'r', 'l', 'd', '!']

In [39]:
#slice
#前6個
list2[:6]

['H', 'e', 'l', 'l', 'o', '!']

In [40]:
#slice
#後6個
list2[-6:]

['W', 'o', 'r', 'l', 'd', '!']

In [43]:
#利用for in 迴圈取出所有元素值
for letter in list2:
    print(letter)

H
e
l
l
o
!

W
o
r
l
d
!

In [44]:
#查詢元素的數量len()
len(list2)

13

In [46]:
#增加元素使用list的方法append()
scores = []
scores.append(89)
scores.append(91)
scores.append(73)
scores.append(92)
scores.append(95)
scores

[89, 91, 73, 92, 95]

In [51]:
scores = []
for i in range(1,6):
    score = int(input(f"請輸入第{i}位學生的資料:"))
    scores.append(score)
sum = 0
for score in scores:
    sum += score
ave = sum / len(scores)
print(f"全班總成績為{sum}分,平均為{ave}分")

請輸入第1位學生的資料:78
請輸入第2位學生的資料:56
請輸入第3位學生的資料:93
請輸入第4位學生的資料:64
請輸入第5位學生的資料:72
全班總成績為363分,平均為72.6分

In [52]:
#2維list
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'HTC']
home = [3, '冰箱', 2, '洗衣機']
all3c = [nb, mobile, home]

In [53]:
all3c[0][0]

'筆記電腦'

In [54]:
all3c[2][3]

'洗衣機'

In [55]:
for items in all3c:
    for item in items:
        print(item,end=' ')
    print()

筆記電腦 商用筆電
APPLE ASUS HTC
3 冰箱 2 洗衣機

In [62]:
import random

students_count = 30
scores_count = 5

students = []
for _ in range(students_count):
    scores = []
    for _ in range(scores_count):
        scores.append(random.randint(60,100))
    students.append(scores)
    
for scores in students:
    for score in scores:
        print(score,end = " ")
    print()

87 94 79 86 79
91 87 88 96 67
64 63 70 95 76
67 66 88 96 95
95 78 92 75 100
61 80 73 75 74
70 83 91 91 71
84 90 93 83 62
66 80 77 90 80
95 83 83 78 67
64 83 72 82 60
71 76 63 92 83
90 65 65 89 73
75 86 98 63 62
77 86 73 75 99
63 85 80 61 66
65 65 72 79 91
100 62 85 75 81
78 95 93 61 93
60 68 72 60 96
80 89 92 90 84
85 71 89 86 73
81 92 93 90 88
99 88 72 98 73
85 97 92 62 66
70 67 73 94 88
77 72 90 61 65
62 81 83 67 81
63 63 72 75 65
75 67 60 64 96