In [3]:
list1 = [10, 20, 30, 40, 50]
list1

[10, 20, 30, 40, 50]

In [5]:
list1.__class__

list

In [8]:
#取出值
print(list1[0])
list1[0] = 60 # 改變值
print(list1[0])

10
60

In [9]:
#超出索引
list1[20]

IndexError: list index out of range

In [16]:
#建立list的方式
#建立空的list,使用符號[]
empty_list = []

#使用符號建立list
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'] 
weekdays[0]

#使用list()建立空的list

another_empty_list = list()
another_empty_list

#使用list()建立

list('cat')
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [17]:
citys = ['台北', '台中', '高雄']

In [23]:
citys[0]
citys[1]
citys[2]
citys[-1]
citys[-2]
citys[-3]

'台北'

In [24]:
citys[0] = '新竹'
citys[0]

'新竹'

In [30]:
#tuple的操作法和list相同
#tuple不可以更改內容

cities = ('台北', '台中', '高雄')
cities[0]
cities[-3]

'台北'

In [31]:
cities[0] = '新竹'

TypeError: 'tuple' object does not support item assignment

In [32]:
list2 = list("Hello! World!")
list2

['H', 'e', 'l', 'l', 'o', '!', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [36]:
#slice
#前6個
list2[0:6]

['H', 'e', 'l', 'l', 'o', '!']

In [38]:
#slice
#後6個
list2[-6:]

['W', 'o', 'r', 'l', 'd', '!']

In [39]:
#slice
#前6個
list2[:6]

['H', 'e', 'l', 'l', 'o', '!']

In [40]:
#slice
#後6個
list2[-6:]

['W', 'o', 'r', 'l', 'd', '!']

In [43]:
#利用for in 迴圈取出所有元素值
for letter in list2:
    print(letter)

H
e
l
l
o
!

W
o
r
l
d
!

In [44]:
#查詢元素的數量len()
len(list2)

13

In [46]:
#增加元素使用list的方法append()
scores = []
scores.append(89)
scores.append(91)
scores.append(73)
scores.append(92)
scores.append(95)
scores

[89, 91, 73, 92, 95]

In [51]:
scores = []
for i in range(1,6):
    score = int(input(f"請輸入第{i}位學生的資料:"))
    scores.append(score)
sum = 0
for score in scores:
    sum += score
ave = sum / len(scores)
print(f"全班總成績為{sum}分,平均為{ave}分")

請輸入第1位學生的資料:78
請輸入第2位學生的資料:56
請輸入第3位學生的資料:93
請輸入第4位學生的資料:64
請輸入第5位學生的資料:72
全班總成績為363分,平均為72.6分

In [52]:
#2維list
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'HTC']
home = [3, '冰箱', 2, '洗衣機']
all3c = [nb, mobile, home]

In [53]:
all3c[0][0]

'筆記電腦'

In [54]:
all3c[2][3]

'洗衣機'

In [55]:
for items in all3c:
    for item in items:
        print(item,end=' ')
    print()

筆記電腦 商用筆電
APPLE ASUS HTC
3 冰箱 2 洗衣機

In [65]:
import random

students_count = 50
scores_count = 5

students = []
for _ in range(students_count):
    scores = []
    for _ in range(scores_count):
        scores.append(random.randint(60,100))
    students.append(scores)
print("國文\t英文\t地理\t數學\t歷史\t總分")    
for scores in students:
    sum = 0
    for score in scores:
        print(score,end = "\t")
        sum += score
    print(sum)

國文	英文	地理	數學	歷史	總分
60	97	70	94	70	391
99	83	88	95	63	428
87	84	89	76	83	419
66	89	83	62	96	396
91	93	78	88	87	437
92	83	97	90	76	438
72	94	80	69	71	386
69	80	63	76	90	378
98	79	94	95	83	449
66	62	97	61	97	383
100	100	76	74	92	442
97	73	81	78	90	419
61	85	74	96	90	406
83	68	68	72	78	369
100	69	67	67	67	370
62	65	66	96	77	366
77	86	97	72	67	399
100	74	76	84	68	402
65	76	62	98	92	393
99	77	64	60	89	389
95	60	99	80	63	397
65	76	95	72	89	397
92	66	96	64	87	405
90	69	79	88	61	387
79	95	99	93	82	448
61	87	62	91	68	369
83	98	82	73	64	400
73	92	67	97	90	419
66	84	70	74	72	366
87	80	63	95	61	386
82	65	63	97	62	369
65	69	79	80	72	365
88	90	95	85	97	455
87	97	87	91	85	447
71	88	73	63	69	364
69	80	69	65	87	370
74	67	99	63	88	391
80	78	71	99	96	424
80	61	86	60	77	364
70	89	69	97	60	385
92	75	67	79	74	387
82	94	82	66	73	397
78	82	81	95	96	432
85	69	100	67	67	388
99	70	60	86	84	399
83	64	99	62	72	380
62	97	61	65	64	349
100	89	82	60	70	401
73	97	72	81	86	409
74	60	83	99	83	399