In [5]:
import pandas as pd
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [8]:
#reindex()
obj=obj.reindex(['a', 'c', 'd', 'b'])
obj

a   -5.3
c    3.6
d    4.5
b    7.2
dtype: float64

In [20]:
import numpy as np
#drop()
obj = pd.Series(np.arange(5.),index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [21]:
obj.drop(labels=['c','d'],inplace=True)
obj

a    0.0
b    1.0
e    4.0
dtype: float64

In [25]:
dataFrame = pd.DataFrame(np.arange(16).reshape(4,4),
                   index = ['台北','台中', '台南', '高雄'],
                   columns = ['one', 'two', 'three', 'four']
                   )
dataFrame

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15

In [26]:
dataFrame.drop(labels=['台北','台中'],axis=0)

    one  two  three  four
台南    8    9     10    11
高雄   12   13     14    15

In [30]:
dataFrame.drop(labels=['one','two'],axis='columns')

    three  four
台北      2     3
台中      6     7
台南     10    11
高雄     14    15