In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.499866 -2.739715
1    a  two  0.327311 -0.079655
2    b  one -0.156558  0.785289
3    b  two -0.498169  0.164373
4    a  one -1.189529  0.965645

In [4]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.120784 -0.617908
b    -0.327363  0.474831