In [4]:
#Taipei:1668341
#Taichung:1668399
#Pingtung:16704818

import pandas as pd
import requests

url = 'http://api.openweathermap.org/data/2.5/group?id=1668341,1668399,1670481&units=metric&appid=29c4f184354b9889e87f7b494ac86aed'
resp=requests.get(url)
weatherData = resp.json()
weatherData
weatherDict= {}
lon = []
lat = []
temp = []
humidity = []
name = []
for item in weatherData['list']:
    lon.append(item['coord']['lon'])
    lat.append(item['coord']['lat'])
    temp.append(item['main']['temp'])
    humidity.append(item['main']['humidity'])
    name.append(item['name'])

weatherDict['城市'] = name
weatherDict['緯度'] = lat
weatherDict['經度'] = lon
weatherDict['攝氏'] = temp
weatherDict['溼度'] = humidity
weatherDict

{'城市': ['Taipei', 'Taichung', 'Pingtung City'],
 '緯度': [25.0478, 24.1469, 22.6714],
 '經度': [121.5319, 120.6839, 120.4881],
 '攝氏': [31.94, 29.7, 31.63],
 '溼度': [67, 74, 70]}

In [8]:

weatherDataFrame1 = pd.DataFrame(weatherDict, columns=['攝氏', '溼度'],index=weatherDict['城市'])
weatherDataFrame1

                  攝氏  溼度
Taipei         31.94  67
Taichung       29.70  74
Pingtung City  31.63  70

In [9]:
weatherDataFrame2 = pd.DataFrame(weatherDict, columns=['緯度', '經度'],index=weatherDict['城市'])
weatherDataFrame2

                    緯度        經度
Taipei         25.0478  121.5319
Taichung       24.1469  120.6839
Pingtung City  22.6714  120.4881

In [10]:
pd.concat([weatherDataFrame1,weatherDataFrame2],axis=1)

                  攝氏  溼度       緯度        經度
Taipei         31.94  67  25.0478  121.5319
Taichung       29.70  74  24.1469  120.6839
Pingtung City  31.63  70  22.6714  120.4881