In [3]:
nums = 5
scores = []
sum = 0
for i in range(nums):
    i += 1
    print("請輸入第{0:d}位學生的資料:".format(i)) 
    scores.append(int(input()))

print(scores)

for score in scores:
    sum += score

ave = sum / nums
print("全班總成績為:{:d}分,平均為{:6.2f}分".format(sum,ave))

請輸入第1位學生的資料:
78
請輸入第2位學生的資料:
90
請輸入第3位學生的資料:
89
請輸入第4位學生的資料:
90
請輸入第5位學生的資料:
89
[78, 90, 89, 90, 89]
全班總成績為:436分,平均為 87.20分

In [5]:
nums = 5
scores = []
sum = 0

for i in range(nums):
    i += 1
    print("請輸入第{0:d}位學生的資料".format(i))
    scores.append(int(input()))
    
print(scores)

for score in scores:
    sum += score

ave = sum / nums #浮點數的除法!
print("全班總成績為:{:d}分,平均為{:6.2f}分".format(sum, ave)) #{0:d}可簡化為{:d}

請輸入第1位學生的資料
67
請輸入第2位學生的資料
87
請輸入第3位學生的資料
78
請輸入第4位學生的資料
98
請輸入第5位學生的資料
87
[67, 87, 78, 98, 87]
全班總成績為:417分,平均為 83.40分

In [6]:
#extend(), +=
citys = ['台北', '台中', '高雄', '台南']
others = ['花蓮', '台東']
citys.extend(others)
citys

['台北', '台中', '高雄', '台南', '花蓮', '台東']

In [7]:
#extend(), +=
citys = ['台北', '台中', '高雄', '台南']
others = ['花蓮', '台東']
citys += others
citys

['台北', '台中', '高雄', '台南', '花蓮', '台東']

In [19]:
import random

students = []
for i in range(50):
    scores = ["stu{:d}".format(i+1)]
    for _ in range(5):
        scores.append(random.randint(50,100))
    students.append(scores)
students

[['stu1', 74, 86, 81, 67, 59],
 ['stu2', 84, 50, 94, 64, 85],
 ['stu3', 94, 59, 97, 67, 67],
 ['stu4', 81, 62, 98, 67, 53],
 ['stu5', 60, 90, 90, 96, 87],
 ['stu6', 66, 54, 65, 57, 64],
 ['stu7', 75, 78, 82, 84, 53],
 ['stu8', 55, 80, 63, 84, 53],
 ['stu9', 56, 65, 98, 62, 57],
 ['stu10', 90, 58, 62, 50, 87],
 ['stu11', 80, 99, 62, 79, 58],
 ['stu12', 83, 81, 54, 96, 56],
 ['stu13', 55, 97, 66, 84, 66],
 ['stu14', 76, 98, 57, 100, 93],
 ['stu15', 75, 65, 62, 56, 89],
 ['stu16', 79, 97, 80, 88, 87],
 ['stu17', 61, 56, 68, 90, 75],
 ['stu18', 77, 68, 59, 62, 67],
 ['stu19', 76, 84, 87, 57, 69],
 ['stu20', 76, 77, 80, 73, 96],
 ['stu21', 61, 53, 97, 63, 92],
 ['stu22', 68, 63, 93, 58, 81],
 ['stu23', 59, 86, 64, 84, 74],
 ['stu24', 80, 51, 82, 65, 84],
 ['stu25', 97, 94, 76, 74, 74],
 ['stu26', 90, 82, 65, 92, 74],
 ['stu27', 54, 95, 99, 77, 86],
 ['stu28', 64, 54, 72, 65, 86],
 ['stu29', 67, 89, 62, 71, 53],
 ['stu30', 84, 56, 93, 55, 86],
 ['stu31', 72, 88, 51, 52, 81],
 ['stu32', 77, 53, 82, 55, 74],
 ['stu33', 78, 63, 86, 94, 97],
 ['stu34', 54, 87, 65, 91, 75],
 ['stu35', 84, 93, 82, 96, 95],
 ['stu36', 57, 67, 74, 70, 98],
 ['stu37', 69, 77, 90, 82, 82],
 ['stu38', 97, 85, 95, 75, 83],
 ['stu39', 88, 61, 81, 73, 54],
 ['stu40', 69, 52, 95, 61, 99],
 ['stu41', 86, 63, 77, 74, 69],
 ['stu42', 55, 74, 95, 96, 99],
 ['stu43', 97, 82, 85, 99, 75],
 ['stu44', 65, 99, 71, 95, 82],
 ['stu45', 91, 66, 67, 64, 87],
 ['stu46', 72, 88, 94, 96, 60],
 ['stu47', 94, 89, 52, 60, 84],
 ['stu48', 53, 60, 76, 92, 60],
 ['stu49', 79, 97, 71, 53, 60],
 ['stu50', 79, 69, 64, 70, 69]]

In [21]:
import random as rd

students = []
for i in range(50):
    scores = ["stu{:d}".format(i+1)]
    for _ in range(5):
        scores.append(rd.randrange(50,101))
    students.append(scores)
students

[['stu1', 79, 67, 52, 85, 64],
 ['stu2', 93, 85, 90, 79, 76],
 ['stu3', 91, 74, 91, 55, 100],
 ['stu4', 96, 62, 91, 99, 60],
 ['stu5', 94, 70, 78, 69, 88],
 ['stu6', 77, 68, 56, 70, 58],
 ['stu7', 78, 67, 54, 52, 51],
 ['stu8', 74, 66, 62, 70, 99],
 ['stu9', 90, 77, 69, 86, 91],
 ['stu10', 60, 81, 94, 82, 51],
 ['stu11', 73, 85, 95, 50, 91],
 ['stu12', 53, 59, 72, 79, 79],
 ['stu13', 85, 97, 98, 65, 53],
 ['stu14', 72, 66, 86, 92, 57],
 ['stu15', 82, 79, 64, 69, 92],
 ['stu16', 57, 83, 58, 76, 94],
 ['stu17', 60, 94, 97, 91, 90],
 ['stu18', 93, 100, 81, 52, 66],
 ['stu19', 99, 81, 89, 87, 80],
 ['stu20', 60, 83, 74, 80, 90],
 ['stu21', 74, 87, 59, 81, 73],
 ['stu22', 61, 99, 53, 87, 50],
 ['stu23', 95, 85, 71, 81, 79],
 ['stu24', 53, 80, 76, 76, 61],
 ['stu25', 68, 93, 98, 57, 94],
 ['stu26', 89, 72, 94, 72, 88],
 ['stu27', 74, 98, 98, 64, 99],
 ['stu28', 89, 97, 65, 64, 51],
 ['stu29', 79, 80, 96, 71, 99],
 ['stu30', 79, 52, 83, 95, 97],
 ['stu31', 92, 69, 68, 82, 81],
 ['stu32', 72, 77, 80, 51, 50],
 ['stu33', 75, 57, 79, 98, 92],
 ['stu34', 65, 91, 84, 86, 88],
 ['stu35', 84, 91, 56, 90, 67],
 ['stu36', 87, 50, 95, 93, 72],
 ['stu37', 61, 98, 76, 72, 100],
 ['stu38', 54, 83, 89, 98, 66],
 ['stu39', 98, 74, 64, 51, 57],
 ['stu40', 52, 50, 76, 73, 66],
 ['stu41', 67, 76, 55, 87, 75],
 ['stu42', 53, 89, 72, 58, 93],
 ['stu43', 66, 71, 65, 71, 85],
 ['stu44', 91, 50, 79, 72, 91],
 ['stu45', 90, 88, 62, 78, 59],
 ['stu46', 62, 92, 88, 93, 58],
 ['stu47', 99, 75, 97, 65, 92],
 ['stu48', 69, 92, 99, 63, 99],
 ['stu49', 60, 77, 75, 58, 69],
 ['stu50', 56, 89, 95, 82, 73]]