In [2]:
import numpy as np
import pandas as pd

string_data = pd.Series(['板橋區', '中和區', np.nan, '土城區'])
string_data

0    板橋區
1    中和區
2    NaN
3    土城區
dtype: object

In [5]:
#檢查有多少筆nan
np.sum(string_data.isna())

1

In [8]:
#檢查有多少筆不是nan
np.sum(string_data.notnull())

3

In [9]:
string_data.dropna()

0    板橋區
1    中和區
3    土城區
dtype: object

In [10]:
string_data.fillna('xxx')

0    板橋區
1    中和區
2    xxx
3    土城區
dtype: object

In [11]:
string_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes