In [2]:
import numpy as np

list2 = np.arange(12).reshape(4,3).tolist()
list2

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [3]:
import pandas as pd
#2維list
pd.DataFrame(list2)

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [4]:
#2維dictionary
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
data

{'縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
 '年份': [2000, 2001, 2002, 2001, 2002, 2003],
 '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}

In [5]:
#2維dictionary建立dataFrame
pd.DataFrame(data)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [6]:
#透過專案內的csv檔,建立DataFrame
pd.read_csv('taipei.csv')

,年別,類型,觀光遊憩區,細分,縣市別,1月,2月,3月,4月,5月,6月,7月,8月,9月,10月,11月,12月,合計
0,2012,國家公園,陽明山國家公園,陽明山遊客中心,臺北市,12187,18612,18580,13329,14179,11397,16000,11791,10469,11515,6896.0,9631.0,154586
1,2012,國家公園,陽明山國家公園,陽明書屋,臺北市,2597,3617,5221,4317,3497,2815,3005,2497,2764,3701,2863.0,2983.0,39877
2,2012,國家公園,陽明山國家公園,陽明公園,臺北市,161000,463000,705200,85600,38600,28000,51700,44700,39000,36000,35000.0,33000.0,1720800
3,2012,國家公園,陽明山國家公園,大屯遊憩區,臺北市,17047,29079,38558,34332,43906,42586,63721,41881,51743,38214,27467.0,27306.0,455840
4,2012,國家公園,陽明山國家公園,龍鳳谷遊憩區,臺北市,21201,22134,62447,64691,16243,15811,15787,16963,16176,18951,18136.0,19135.0,307675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,2021,其他,-,臺北市立兒童新樂園,臺北市,113812,157701,104157,156444,39592,0,0,42933,36838,70285,NaN,NaN,721762
312,2021,其他,-,台北植物園,臺北市,142986,132955,177340,171243,74947,0,16143,38825,49698,71915,NaN,NaN,876052
313,2021,其他,-,華山1914文化創意產業園區,臺北市,201037,364808,286081,318797,71458,0,63987,64686,92284,183332,NaN,NaN,1646470
314,2021,其他,-,松山文創園區,臺北市,537408,489627,510866,513970,255314,90596,123927,233779,270165,373248,NaN,NaN,3398900
315,2021,其他,-,白石湖吊橋,臺北市,30704,38904,25191,25938,14611,8818,0,15891,15691,22741,NaN,NaN,198489

In [7]:
#透過excel
pd.read_excel('目前天氣.xlsx')

   Taipei  Taichung  Pingtung City
0   31.28     31.92          30.65