In [1]:
import numpy as np
import pandas as pd

world_covid19 = pd.read_csv('world.csv')
world_covid19

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179878,179879,ZWE,非洲,辛巴威,2022-04-14,247208,48,48.286,5462,2,...,31909.0,66.98,38.22,0.00,15092171,19.6,1.882,61.49,0,99999.0
179879,179880,ZWE,非洲,辛巴威,2022-04-15,247237,29,44.571,5462,0,...,26342.0,67.08,38.27,0.00,15092171,19.6,1.882,61.49,0,99999.0
179880,179881,ZWE,非洲,辛巴威,2022-04-16,247237,0,44.571,5462,0,...,18715.0,67.17,38.35,0.00,15092171,19.6,1.882,61.49,0,99999.0
179881,179882,ZWE,非洲,辛巴威,2022-04-17,247278,41,45.714,5463,1,...,17122.0,67.22,38.39,0.00,15092171,19.6,1.882,61.49,0,99999.0
179882,179883,ZWE,非洲,辛巴威,2022-04-18,247297,19,41.000,5464,1,...,15526.0,67.27,38.42,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [4]:
all_covid19 = world_covid19.reindex(columns=['洲名','國家','日期','新增確診數','新增死亡數'])
all_covid19

        洲名   國家          日期  新增確診數  新增死亡數
0       亞洲  阿富汗  2020-02-24      5      0
1       亞洲  阿富汗  2020-02-25      0      0
2       亞洲  阿富汗  2020-02-26      0      0
3       亞洲  阿富汗  2020-02-27      0      0
4       亞洲  阿富汗  2020-02-28      0      0
...     ..  ...         ...    ...    ...
179878  非洲  辛巴威  2022-04-14     48      2
179879  非洲  辛巴威  2022-04-15     29      0
179880  非洲  辛巴威  2022-04-16      0      0
179881  非洲  辛巴威  2022-04-17     41      1
179882  非洲  辛巴威  2022-04-18     19      1

[179883 rows x 5 columns]

In [14]:
all_covid19.set_index('洲名').groupby(level=0)['新增確診數'].sum()

          新增確診數
洲名
亞洲    291599382
全球    503902266
北美洲   190963900
南美洲   112771968
國際間         721
大洋洲    13212786
歐洲    376071866
歐洲聯盟  133945866
非洲     23183188

In [18]:
stata_statistic = all_covid19.set_index('洲名').groupby(level=0).sum(True)
stata_statistic

          新增確診數    新增死亡數
洲名
亞洲    291599382  2829684
全球    503902266  6159267
北美洲   190963900  2835918
南美洲   112771968  2535386
國際間         721       15
大洋洲    13212786    20080
歐洲    376071866  3592806
歐洲聯盟  133945866  1065151
非洲     23183188   504630