In [6]:
import numpy as np

list2 = np.arange(12).reshape(4,3).tolist()
list2

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [7]:
import pandas as pd
#2維list
pd.DataFrame(list2)

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [8]:
#2維dictionary
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
data

{'縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
 '年份': [2000, 2001, 2002, 2001, 2002, 2003],
 '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}

In [9]:
#2維dictionary建立dataFrame
pd.DataFrame(data)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0