In [2]:
import numpy as np
import pandas as pd

obj = pd.Series([4.5, 7.2, -5.3,3.6],
                index=['d','b','a','c'])

#利用reindex(),可以重新排序
obj.reindex(['a','b','c','d'])

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [4]:
#利用reindex(),可以過濾索引
obj.reindex(['a','b'])

a   -5.3
b    7.2
dtype: float64

In [5]:
obj2 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj2

0      blue
2    purple
4    yellow
dtype: object

In [6]:
obj2.reindex([0,2])

0      blue
2    purple
dtype: object

In [10]:
#dataFrame使用reindex()
frame=pd.DataFrame(np.arange(9).reshape(3,3),
             index=['a', 'c', 'd'],
             columns=['台北', '台中', '高雄'])
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [12]:
#重新排序索引和欄位,並且過濾索引和欄位
frame.reindex(index=['a','d','c'],columns=['高雄','台北'])

   高雄  台北
a   2   0
d   8   6
c   5   3