In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                [1, 2, 3, 1, 2, 3, 1, 2, 3]]
                )
data

a  1    0.241266
   2   -1.413611
   3    0.243321
b  1   -2.270212
   2    0.255171
c  3   -1.254441
   1    1.067821
d  2   -0.284219
   3   -0.213008
dtype: float64

In [4]:
data.groupby(level=0).sum()

a   -0.929024
b   -2.015041
c   -0.186621
d   -0.497227
dtype: float64

In [5]:
data.groupby(level=0).mean()

a   -0.309675
b   -1.007521
c   -0.093310
d   -0.248614
dtype: float64

In [6]:
data.groupby(level=0).agg(['sum', 'mean'])

        sum      mean
a -0.929024 -0.309675
b -2.015041 -1.007521
c -0.186621 -0.093310
d -0.497227 -0.248614

In [7]:
data.groupby(level=0).agg([('加總','sum'), ('平均','mean')])

         加總        平均
a -0.929024 -0.309675
b -2.015041 -1.007521
c -0.186621 -0.093310
d -0.497227 -0.248614