In [3]:
import numpy as np
import pandas as pd

world_covid19 =pd.read_csv('world.csv')
type(world_covid19)

pandas.core.frame.DataFrame

In [5]:
world_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179883 entries, 0 to 179882
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              179883 non-null  int64
 1   iso_code        179883 non-null  object
 2   洲名              176643 non-null  object
 3   國家              176643 non-null  object
 4   日期              179883 non-null  object
 5   總確診數            179883 non-null  int64
 6   新增確診數           179883 non-null  int64
 7   七天移動平均新增確診數     179883 non-null  float64
 8   總死亡數            179883 non-null  int64
 9   新增死亡數           179883 non-null  int64
 10  七天移動平均新增死亡數     179883 non-null  float64
 11  每百萬人確診數         179883 non-null  float64
 12  每百萬人死亡數         179883 non-null  float64
 13  傳染率             179883 non-null  float64
 14  新增檢驗件數          179883 non-null  int64
 15  總檢驗件數           179883 non-null  int64
 16  每千人檢驗件數         179883 non-null  float64
 17  七天移動平均新增檢驗件數    179883 non-null  float64
 18  陽性率             179883 non-null  float64
 19  每確診案例相對檢驗數量     179883 non-null  float64
 20  疫苗總接種總劑數        179883 non-null  int64
 21  疫苗總接種人數         179883 non-null  int64
 22  疫苗新增接種劑數        179883 non-null  int64
 23  七天移動平均疫苗新增接種劑數  179883 non-null  float64
 24  每百人接種疫苗劑數       179883 non-null  float64
 25  每百人接種疫苗人數       179883 non-null  float64
 26  疫情控管指數          179883 non-null  float64
 27  總人口數            179883 non-null  int64
 28  中位數年紀           179883 non-null  float64
 29  70歲以上人口比例       179883 non-null  float64
 30  平均壽命            179883 non-null  float64
 31  解除隔離數           179883 non-null  int64
 32  解封指數            179883 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 45.3+ MB

In [9]:
covid19 = world_covid19.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','新增死亡數'])
covid19

        洲名   國家          日期    總確診數  新增確診數  新增死亡數
0       亞洲  阿富汗  2020-02-24       5      5      0
1       亞洲  阿富汗  2020-02-25       5      0      0
2       亞洲  阿富汗  2020-02-26       5      0      0
3       亞洲  阿富汗  2020-02-27       5      0      0
4       亞洲  阿富汗  2020-02-28       5      0      0
...     ..  ...         ...     ...    ...    ...
179878  非洲  辛巴威  2022-04-14  247208     48      2
179879  非洲  辛巴威  2022-04-15  247237     29      0
179880  非洲  辛巴威  2022-04-16  247237      0      0
179881  非洲  辛巴威  2022-04-17  247278     41      1
179882  非洲  辛巴威  2022-04-18  247297     19      1

[179883 rows x 6 columns]

In [13]:
np.sum(covid19['國家'] == '台灣')

824

In [16]:
#[]搜尋
taiwan_covid19 = covid19[covid19['國家'] == '台灣']
taiwan_covid19

        洲名  國家          日期   總確診數  新增確診數  新增死亡數
157548  亞洲  台灣  2020-01-16      0      0      0
157549  亞洲  台灣  2020-01-17      0      0      0
157550  亞洲  台灣  2020-01-18      0      0      0
157551  亞洲  台灣  2020-01-19      0      0      0
157552  亞洲  台灣  2020-01-20      0      0      0
...     ..  ..         ...    ...    ...    ...
158367  亞洲  台灣  2022-04-14  30574    981      0
158368  亞洲  台灣  2022-04-15  31857   1283      0
158369  亞洲  台灣  2022-04-16  33205   1348      0
158370  亞洲  台灣  2022-04-17  34507   1302      0
158371  亞洲  台灣  2022-04-18  35983   1476      0

[824 rows x 6 columns]

In [21]:
#新增確診數最多的那一天
max = taiwan_covid19['新增確診數'].max()
taiwan_covid19[taiwan_covid19['新增確診數'] == max]

        洲名  國家          日期   總確診數  新增確診數  新增死亡數
158371  亞洲  台灣  2022-04-18  35983   1476      0

In [27]:
#新增確診數最多的那一天
taiwan_covid19.sort_values(by='新增確診數',ascending=False).iloc[0]

洲名               亞洲
國家               台灣
日期       2022-04-18
總確診數          35983
新增確診數          1476
新增死亡數             0
Name: 158371, dtype: object

In [29]:
#新增確診數最多的5天
d1 = taiwan_covid19.sort_values(by='新增確診數',ascending=False).iloc[:5]
d1.to_excel('新增確診數最多的5天.xlsx')

In [30]:
taiwan_covid19

        洲名  國家          日期   總確診數  新增確診數  新增死亡數
157548  亞洲  台灣  2020-01-16      0      0      0
157549  亞洲  台灣  2020-01-17      0      0      0
157550  亞洲  台灣  2020-01-18      0      0      0
157551  亞洲  台灣  2020-01-19      0      0      0
157552  亞洲  台灣  2020-01-20      0      0      0
...     ..  ..         ...    ...    ...    ...
158367  亞洲  台灣  2022-04-14  30574    981      0
158368  亞洲  台灣  2022-04-15  31857   1283      0
158369  亞洲  台灣  2022-04-16  33205   1348      0
158370  亞洲  台灣  2022-04-17  34507   1302      0
158371  亞洲  台灣  2022-04-18  35983   1476      0

[824 rows x 6 columns]

In [34]:
#新增確診數 <= 500 的筆數有
taiwan_covid19[taiwan_covid19['新增確診數'] <= 500]

        洲名  國家          日期   總確診數  新增確診數  新增死亡數
157548  亞洲  台灣  2020-01-16      0      0      0
157549  亞洲  台灣  2020-01-17      0      0      0
157550  亞洲  台灣  2020-01-18      0      0      0
157551  亞洲  台灣  2020-01-19      0      0      0
157552  亞洲  台灣  2020-01-20      0      0      0
...     ..  ..         ...    ...    ...    ...
158355  亞洲  台灣  2022-04-02  24033    404      0
158356  亞洲  台灣  2022-04-03  24313    280      0
158357  亞洲  台灣  2022-04-04  24588    275      0
158358  亞洲  台灣  2022-04-05  24866    278      0
158359  亞洲  台灣  2022-04-06  25225    359      0

[803 rows x 6 columns]

In [33]:
taiwan_covid19

        洲名  國家          日期   總確診數  新增確診數  新增死亡數
157548  亞洲  台灣  2020-01-16      0      0      0
157549  亞洲  台灣  2020-01-17      0      0      0
157550  亞洲  台灣  2020-01-18      0      0      0
157551  亞洲  台灣  2020-01-19      0      0      0
157552  亞洲  台灣  2020-01-20      0      0      0
...     ..  ..         ...    ...    ...    ...
158367  亞洲  台灣  2022-04-14  30574    981      0
158368  亞洲  台灣  2022-04-15  31857   1283      0
158369  亞洲  台灣  2022-04-16  33205   1348      0
158370  亞洲  台灣  2022-04-17  34507   1302      0
158371  亞洲  台灣  2022-04-18  35983   1476      0

[824 rows x 6 columns]

In [42]:
#新增確診數 200~500 的筆數有
taiwan_covid19[(taiwan_covid19['新增確診數'] >= 200) & (taiwan_covid19['新增確診數'] <= 500)].sort_values(by='新增確診數')

        洲名  國家          日期   總確診數  新增確診數  新增死亡數
158057  亞洲  台灣  2021-06-08  11694    203     22
158349  亞洲  台灣  2022-03-27  22769    203      0
158034  亞洲  台灣  2021-05-16   1682    207      0
158354  亞洲  台灣  2022-04-01  23629    235      0
158353  亞洲  台灣  2022-03-31  23394    239      0
158036  亞洲  台灣  2021-05-18   2260    243      2
158061  亞洲  台灣  2021-06-12  12746    246     26
158059  亞洲  台灣  2021-06-10  12222    254     28
158037  亞洲  台灣  2021-05-19   2533    273      0
158058  亞洲  台灣  2021-06-09  11968    274     25
158357  亞洲  台灣  2022-04-04  24588    275      0
158060  亞洲  台灣  2021-06-11  12500    278     24
158358  亞洲  台灣  2022-04-05  24866    278      0
158356  亞洲  台灣  2022-04-03  24313    280      0
158038  亞洲  台灣  2021-05-20   2825    292      1
158039  亞洲  台灣  2021-05-21   3139    314      0
158050  亞洲  台灣  2021-06-01   8842    331     13
158035  亞洲  台灣  2021-05-17   2017    335      0
158055  亞洲  台灣  2021-06-06  11298    342     36
158049  亞洲  台灣  2021-05-31   8511    351     15
158048  亞洲  台灣  2021-05-30   8160    354     10
158359  亞洲  台灣  2022-04-06  25225    359      0
158355  亞洲  台灣  2022-04-02  24033    404      0
158041  亞洲  台灣  2021-05-23   4322    460      6
158053  亞洲  台灣  2021-06-04  10446    472     21
158047  亞洲  台灣  2021-05-29   7806    491     21