In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                [1, 2, 3, 1, 2, 3, 1, 2, 3]]
                )
data

a  1   -0.818766
   2   -0.031521
   3    0.032659
b  1    0.359819
   2    0.310440
c  3   -0.736389
   1   -1.321545
d  2   -0.087159
   3    0.405299
dtype: float64

In [2]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [4]:
data['a']

1   -0.818766
2   -0.031521
3    0.032659
dtype: float64

In [18]:
data['a']

1   -0.818766
2   -0.031521
3    0.032659
dtype: float64

In [21]:
data

a  1   -0.818766
   2   -0.031521
   3    0.032659
b  1    0.359819
   2    0.310440
c  3   -0.736389
   1   -1.321545
d  2   -0.087159
   3    0.405299
dtype: float64

In [22]:
data.unstack(level=1).fillna(0)

          1         2         3
a -0.818766 -0.031521  0.032659
b  0.359819  0.310440  0.000000
c -1.321545  0.000000 -0.736389
d  0.000000 -0.087159  0.405299

In [24]:
data.unstack(level=0).fillna(0)

          a         b         c         d
1 -0.818766  0.359819 -1.321545  0.000000
2 -0.031521  0.310440  0.000000 -0.087159
3  0.032659  0.000000 -0.736389  0.405299