In [4]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
    
frame.apply(lambda s:s.max() - s.min())

b    1.900321
d    1.556252
e    2.590445
dtype: float64

In [5]:
frame.apply(lambda s:s.max() - s.min(),axis=1)

台北    1.671448
台中    1.194281
台南    2.160129
高雄    0.882836
dtype: float64

In [8]:
result=frame.apply(lambda s:pd.Series([s.min(),s.max()], index=["min","max"]),axis=1)
result

         min       max
台北 -1.348671  0.322776
台中 -0.818068  0.376213
台南 -0.918355  1.241774
高雄  0.263583  1.146419

In [9]:
result.T

           台北        台中        台南        高雄
min -1.348671 -0.818068 -0.918355  0.263583
max  0.322776  0.376213  1.241774  1.146419