In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6],index=['d','b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
obj.reindex(['a','b','c','d'])

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [5]:
obj.reindex(['a','b','c'])

a   -5.3
b    7.2
c    3.6
dtype: float64

In [6]:
frame=pd.DataFrame(np.arange(9).reshape(3,3), 
             index=['a','b','c'], 
             columns=['台北', '台中', '高雄'])
frame

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8

In [7]:
frame.reindex(['a','b'])

   台北  台中  高雄
a   0   1   2
b   3   4   5

In [9]:
frame.reindex(['a','b'],columns=['台北','高雄'])

   台北  高雄
a   0   2
b   3   5