In [2]:
sentens = "Dear Alice,\
Eve's cat has been arrested for catnapping, cat burglary, and\
 extortion.\
Sincerely,\
Bob"

print(sentens)

Dear Alice,Eve's cat has been arrested for catnapping, cat burglary, and extortion.Sincerely,Bob

In [3]:
sentens = '''Dear Alice,
Eve's cat has been arrested for catnapping, cat burglary, and extortion.
Sincerely,
Bob'''

print(sentens)

Dear Alice,
Eve's cat has been arrested for catnapping, cat burglary, and extortion.
Sincerely,
Bob

In [9]:
str1 = "this is Python Tutorial, there"
search1 = "Python" 
print(str1.find(search1))

search2= "not" 
print(str1.find(search2))

search3 = "t"
print(str1.find(search3))

print(str1.find(search3,4))

print(str1.find(search3,11,20))

8
-1
0
10
17

In [10]:
str1 = "This is Python, That is Java; This is SQLite, That is MySQL"
print("原本的字串:", str1)
print()
print("is 替換為 - :" + str1.replace("is", "-"))
print()

原本的字串: This is Python, That is Java; This is SQLite, That is MySQL

is 替換為 - :Th- - Python, That - Java; Th- - SQLite, That - MySQL

In [13]:
str1 = "This is Python, That is Java; This is SQLite, That is MySQL"
print("原本的字串:", str1)
print()
print("加上參數值2:" + str1.replace("is", "-", 2))
print("Hello there!\nHow are you?\nI\'m doing fine.")

原本的字串: This is Python, That is Java; This is SQLite, That is MySQL

加上參數值2:Th- - Python, That is Java; This is SQLite, That is MySQL
Hello there!
How are you?
I'm doing fine.

In [14]:
print(r'That is Carol\'s cat.')

That is Carol\'s cat.

In [17]:
name = 'Robert'
age = 40
'Hello, my name is  %s. I am  %d years old.' % (name,age)

'Hello, my name is  Robert. I am  40 years old.'

In [19]:
name = 'Robert'
age = 40
f'Hello, my name is  {name:s}. I am  {age:d} years old.'

'Hello, my name is  Robert. I am  40 years old.'